<extend name="Public/base"/>



<block name="body">

	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

	<div class="main-title">

		<h2>{:isset($info['id'])?'编辑':'新增'}兑换订单信息</h2>

	</div>

	<div class="tab-wrap">

		<div class="tab-content">

			<form action="{:U('order_edit')}" method="post" class="form-horizontal">

				<!-- 基础 -->

				<div id="tab1" class="tab-pane in tab1">



					<div class="form-item">

						<label class="item-label">

							姓名<span class="check-tips">（姓名不能为空）</span>

						</label>

						<div class="controls">

							<input type="text" name="name" class="text input-large" value="{$info.name|default=''}">

						</div>

					</div>
					
					<div class="form-item">

						<label class="item-label">

							电话<span class="check-tips">（电话不能为空）</span>

						</label>

						<div class="controls">

							<input type="text" name="tel" class="text input-large" value="{$info.tel|default=''}">

						</div>

					</div>
					
					<div class="form-item">

						<label class="item-label">

							邮编<span class="check-tips">（邮编不能为空）</span>

						</label>

						<div class="controls">

							<input type="text" name="youbian" class="text input-large" value="{$info.youbian|default=''}">

						</div>

					</div>
					
					<div class="form-item">

						<label class="item-label">

							地址<span class="check-tips">（地址不能为空）</span>

						</label>

						<div class="controls">

							<input type="text" name="adr" class="text input-large" value="{$info.adr|default=''}">

						</div>

					</div>					
				
				</div>

				<div class="form-item">

					<input type="hidden" name="id" value="{$info.id|default=''}">

					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>

					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>

				</div>

		</form>

		</div>

	</div>

</block>



<block name="script">

	<script type="text/javascript">

		//导航高亮

		highlight_subnav('{:U('order')}');

	</script>

</block>

