jz@charset "utf-8";
/* CSS Document */
html{overflow-y:scroll;height:101%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0; padding:0; word-break:break-all;word-wrap: break-word;}
img{border:none;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,button,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,button,textarea,select{font:100% Tahoma,Helvetica,Arial,sans-serif;}
table {border-collapse: collapse; border-spacing:0;}
em{font-style:normal;}
.cls{clear:both; height:0; font-size:0; line-height:0;}
a:link,a:visited,a:hover,a:active{
	 text-decoration:none;
}
a,area { blr:expression(this.onFocus=this.blur()) } /* for IE */
:focus { outline: none; } /* for Firefox */ 
/*----------------------------------reset style end----------------------------------*/
body{font-size:12px; font-family:"微软雅黑",Arial, Helvetica, sans-serif;  width:expression_r(document.body.clientWidth <= 1000? "1000px": "auto");min-width:1000px; overflow-x:hidden;}
/*---------------------------------------------------------------------hyzx--------------------------------------------------------------*/
.dl{ width:1040px; margin:0px auto;}
.dl_q{ margin:15px 0px;}
.dl_q p{ float:left; margin-right:20px; padding-right:20px;}
.dl_q h1{ font-size:24px; color:#666666; padding-top:18px;}
.dl_w{ background:url(../images/dl11.png) no-repeat center; position:relative; width:1920px; height:531px; margin:0px auto;overflow:hidden;left:50%;margin-left:-960px; margin-top:20px; border-top:solid 1px #dfdfdf;}
.dl_e{ width:1040px; margin:0px auto;}
.dl_r{ border:solid 1px #dfdfdf; float:right; padding:25px; background:#FFF; width:312px; margin-top:95px;}
.dl_t{ font-size:20px; color:#333333;}
.dl_y{ }
input.dl_u{ background:url(../images/dl2.png) no-repeat center; border:none; width:310px; height:40px; text-indent:58px;}
input.dl_uu{background:url(../images/dl3.png) no-repeat center; border:none;width:310px; height:40px; text-indent:58px; margin-top:10px;}
.dl_i{ margin-top:30px;}
.dl_i p input{ vertical-align:middle; color:#999999;cursor: pointer;}
.dl_i p{ float:left;}
.dl_i h1{ float:right;}
.dl_i h1 a{ color:#999999;}
.dl_i h1 a:hover{color:#0095da;}
.dl_o{ margin-top:30px;}
.dl_o p a{ font-size:16px; color:#333333; background:#f4f4f4; border:solid 1px #dfdfdf;border-radius:5px; display:inline-block; height:40px; line-height:40px; width:310px; text-align:center; margin-bottom:15px;}
.dl_o p a:hover{ color:#FFF; background:#cc2e5b;} 

.gw{ width:1040px; margin:0px auto; margin-top:60px; margin-bottom:20px;}
.gw_q{ text-align:center;}
.gwc_box table tr th{font-size:12px; color:#333333; font-weight:500;}
.gwc_box table tr th,.gwc_box table tr td{ padding:10px 0px; font-size:12px;border-bottom:1px solid #e5e5e5;}
.gwc_box table tr td{ border-bottom:1px solid #e5e5e5; padding:30px 0px; font-size:12px; color:#666666;}
.gwc_p p{ float:left;margin-right:20px; width:80px; height:80px; overflow:hidden; text-align:center; vertical-align:middle; line-height:100px; display:table-cell; font-size:12px;}
.gwc_p h1{}
.gwc_p h1 a{ color:#666666;}
.gwc_p h1 a:hover{ text-decoration:underline;}
.xl_p_shuliang{ padding-left:200px;}
.xl_p_shuliang a,.xl_p_shuliang input{ width:30px; text-align:center; display:inline-block; border:1px solid #ababab; height:30px; line-height:30px; float:left;}
.xl_p_shuliang input{ border-left:0px; border-right:0px; width:30px;}
.xl_p_shuliang a{ color:#676767;}
.xl_p_shuliangw{}
.xl_p_shuliangw a,.xl_p_shuliangw input{ width:30px; text-align:center; display:inline-block; border:1px solid #ababab; height:30px; line-height:30px; float:left;}
.xl_p_shuliangw input{ border-left:0px; border-right:0px; width:50px;}
.xl_p_shuliangw a{ color:#676767;}
.xl_p_shuliangw span{ float:left; margin-right:10px; margin-top:10px; color:#666666;}
.gw_w{ margin-top:40px; float:right;}
.gw_e{ padding-bottom:20px; border-bottom:solid 1px #dfdfdf;}
.gw_e p{ font-size:14px; color:#333333; line-height:25px;}
.gw_e p span{ float:right; margin-left:70px;}
.gw_r{ margin-top:35px;}
.gw_r h1{font-size:14px; color:#333333;}
.gw_r h1 span{ float:right; font-size:30px; color:#0095da; line-height:18px;}
.gw_y{ margin-top:30px; background:#f6f6f6; padding:20px;}
.gw_u{ float:right;}
.gw_u p{ float:left; font-size:16px; margin-top:14px; color:#666666;}
.gw_u p em{ font-size:24px; color:#cc2e5b; line-height:15px;}
.gw_u p a{ color:#0095da;}
.gw_u p a:hover{ text-decoration:underline;}
.gw_u p img{ vertical-align:middle; padding-left:10px;}
.gw_u h1{ float:left; margin-left:20px; font-size:16px;}
.gw_u h1 a{ display:inline-block; color:#FFF; padding:10px 50px; background:#cc2e5b;}
.gw_u h1 a:hover{opacity:0.8;}
.gw_i{ margin-top:85px;}
.gw_i{ font-size:18px; color:#323232; border-bottom:solid 1px #dbdbdb;}
.gw_i h1 a{font-size:14px; color:#333333; display:inline-block; height:31px; padding:0px 20px;}
.gw_i h1 a:hover{ border-bottom:solid 1px #771a82; position:relative;bottom:-1px;}
.gw_i h1 a.hover{ border-bottom:solid 1px #771a82; position:relative;bottom:-1px;}
.gw_p{ margin-top:20px;}
.gw_p{ float:left; padding:20px; width:207px; border:solid 1px #e1e1e1; margin-right:10px;}
.gw_a{ margin-top:40px; border-bottom:solid 1px #e1e1e1; padding-bottom:15px;}
.gw_a p{ font-size:14px; color:#5a5a5a; padding-bottom:12px;}
.gw_a p a{color:#5a5a5a;}
.gw_a p a:hover{ color:#0095da;}
.gw_a h1{ color:#ff0000; font-size:14px;}
.gw_s h2{ margin-top:25px; text-align:center; padding-bottom:15px;}
.gw_s h2 a{ font-size:14px; color:#FFF; background:#ed3e3b; padding:10px 33px; display:inline-block;border-radius:3px;}
.js{ font-size:12px; padding-left: 24px; color:#333333; padding-bottom:10px; border-bottom:solid 1px #e1e1e1;}
.js_q{ margin-top:15px;}
.js_w a{ font-size:14px; color:#4aae2f;}
.js_e{ margin-top:30px;}
.js_e tr td{ font-size:14px; color:#333333; text-align:left; padding-right:20px; padding-bottom:20px;}
.js_e tr td span{ color:#eb0101;}
.js_r{ width:328px; border:solid 1px #dfdfdf; height:33px;}
.js_e tr td select{ width:100px; height:33px; border:solid 1px #dfdfdf; margin-right:15px;}
.js_rr{ width:650px; border:solid 1px #dfdfdf; height:33px;}
.js_e tr td a{ border:solid 1px #dfdfdf; display:inline-block; padding:10px 45px; margin-right:20px; color:#333333;}
.js_e tr td a:hover{ border:solid 1px #0095da; background:#0095da ; color:#FFF;}
.jss{ margin-top:50px; font-size:18px; color:#333333; padding-bottom:10px; border-bottom:solid 1px #e1e1e1;}
.js_t{ margin-top:20px;}
.js_t a{ margin-right:20px; display:inline-block; width:148px; height:48px; border:solid 1px #dfdfdf;}
.js_t a:hover{ border:solid 1px #0095da;}
.js_y{ margin-top:20px;}
.js_y a{ margin-right:20px; display:inline-block; width:148px; height:48px; border:solid 1px #dfdfdf; line-height:48px; text-align:center; font-size:14px; color:#333333;}
.js_y a:hover{ border:solid 1px #0095da; color:#0095da;}
.js_u{ margin-top:30px;}
.js_u p{ float:left; color:#333333;}
.js_u p input{ vertical-align:middle; margin-right:10px;}
.js_u h1{ float:right;}
.js_u h1 a{ color:#0095da; margin-left:15px;}
.js_u h1 a:hover{ text-decoration:underline;}
.js_i{ margin-top:20px; border:solid 1px #dfdfdf; padding:30px; width:615px;}
.js_i p{ font-size:14px; color:#333333; padding-bottom:10px;}
.js_i p input{ width:313px; height:38px; border:solid 1px #dfdfdf;}
.js_a{ border-top:solid 1px #dadada; background:#f4f4f4; padding-bottom:120px;}
.js_s{ width:1000px; margin:0px auto; margin-top:20px;}
.js_d{ border:solid 1px #dadada;border-radius:5px; padding:50px 30px; background:#FFF;}
.js_f{ font-size:14px; color:#666666; border-bottom:solid 1px #dadada; padding-bottom:13px;}
.js_f a{ color:#0095da;}
.js_f a:hover{ text-decoration:underline;}
.js_g{ margin-top:52px; margin-left:205px;}
.js_g tr td{ font-size:14px; color:#333333;  padding-right:40px; padding-bottom:20px;}
.js_g tr td input.js_h{ width:338px; height:38px; border:solid 1px #dadada; color:#999999; text-indent:10px;}
.js_g tr td img{ padding-left:10px;}
.js_j{ background:url(../images/js5.jpg) no-repeat center;width:340px; height:40px; line-height:40px;}
.js_j input{ width:240px; height:38px; border:none; color:#999999; text-indent:10px; margin-left:1px;}
.js_j a{ color:#666666; font-size:14px; margin-left:10px;}
.js_g tr td p img{ vertical-align:middle; padding-right:10px;}
.js_g tr td p{ font-size:14px; color:#ff0000; line-height:25px;}
.js_k{ background:#0095da; width:340px; border:none; height:45px; line-height:45px; color:#FFF;}
.js_k:hover{opacity:0.8;}
.js_g tr td h1{ font-size:12px; color:#999999;}
.js_g tr td h1 a{ color:#4aae2f;}
.js_g tr td h1 a:hover{ text-decoration:underline;}

.gr{ width:1192px; margin:100px auto;}
.grq{ width:1025px; margin:20px auto;}
.gr_q{ font-family:"宋体"; color:#5a5a5a;}
.gr_q a{ color:#5a5a5a;}
.gr_q a:hover{ color:#771a82;}
.gr_w{ margin-top:20px;}
.gr_e{ float:left; width:180px;}
.gr_r{ background:#771a82; padding:12px 0px;}
.gr_r p img{ vertical-align:middle; padding-right:10px;}
.gr_r p{ font-size:16px; color:#FFF; padding-left:20px;}
.gr_t{ width:178px; border:solid 1px #dddddd; border-top:none;}
.gr_y h1 img{ vertical-align:middle; padding-right:20px;}

.gr_y h1 em{ margin-right:10px; margin-left:10px;}

.gr_y{ padding-bottom:13px;}
.gr_y h1{ background:#f4f4f4; text-indent:18px; padding:10px 0px; border-top:1px solid #dddddd; font-size:14px; color:#333333;}
.gr_y p{ text-indent:43px; padding-top:13px;}
.gr_y p a{ color:#666666;}
.gr_y p a:hover{ color:#771a82;}
.gr_y p a.hover{ color:#771a82;}
.gr_u{ width:983px; float:right;}
.gr_i{ border:solid 1px #dddddd;border-top-left-radius: 70px;border-bottom-left-radius: 70px;}
.gr_o{ padding:20px 10px; width:476px; border-right:dotted 1px #dddddd; float:left;}
.gr_o p{ float:left; margin-right:40px;}
.gr_o p img{ width:104px; height:104px;border-radius: 100%;margin-left: 20px;}
.gr_o h1{ float:left; color:#cc2e5b; font-size:18px; margin-top:5px; line-height:30px;cursor: pointer;}
.gr_o h1 span{ font-size:14px; color:#5a5a5a;transition: all 1s;cursor: pointer;}
.gr_o h1 span:hover{ color: #771a82; }
.gr_p{ float:left; padding:28px 30px; width:190px;border-right:dotted 1px #dddddd; height:88px;}
.gr_p h1{ color:#5a5a64; font-size:14px; font-family:"宋体"; font-weight:600; padding-bottom:18px;transition: all 1s;cursor: pointer;}
.gr_p h1:hover{color: #771a82;}
.gr_p p{ font-family:"宋体"; color:#5a5a5a; line-height:20px;cursor: pointer;}
.gr_p p em{ color:#cc2e5b;cursor: pointer;}
.gr_a{float:left; padding:28px 30px;}
.gr_a h1{ color:#5a5a64; font-size:14px; font-family:"宋体"; font-weight:600; padding-bottom:18px;transition: all 1s;cursor: pointer;}
.gr_a h1:hover{color: #771a82;}
.gr_a p{ font-family:"宋体"; color:#5a5a5a; line-height:20px; cursor: pointer;}
.gr_a p em{ color:#cc2e5b;}
.gr_s h1{ padding:20px 0px; font-size:18px; color:#5a5a5a;}
.gr_s table{ border:solid 1px #dddddd;}
.gr_s tr th{ color:#666666; font-weight:500; background:#f0efef; padding:11px 0px; text-align:center;}
.gr_s tr td{ padding:18px 0px; color:#666666;}
.gr_s tr td h2 img{ vertical-align:middle; padding-right:15px; padding-left:15px;display: inline-block;height: 50px;float: left;}

.gr_s tr td h2 a{color:#666666;transition: all 1s;display: inline-block;width: 310px;height: 50px;overflow: hidden;line-height: 20px;}
.gr_s tr td h2 i{
	font-style: normal;
	display: inline-block;
	padding-left: 10px;
	width: 20px;
	overflow: hidden;
	height: 50px;
	line-height: 50px;
}
.gr_s tr td h2 a:hover{color:#0095da;text-decoration: underline; }
.gr_s tr td p a{ color:#5a5a5a;margin-top: 3px;display: inline-block;transition: all 1s;}
.gr_s tr td p a:hover{ color:#cc2e5b; text-decoration:underline;}

.gr_ss h1{font-size:18px; color:#5a5a5a;display: block;width: 981px;height: 50px;width: 100%;background-color:#771A82;color: #fff;text-indent: 20px;line-height: 50px;cursor: pointer; 
padding-right:5px;}
.gr_ss h1 p{
	display: inline-block;
	width: 120px;
	height: 30px;
	float: right;
	margin-left:4px;
	background-color: rgba(255,255,255,0.5);
	transition: all 0.3s;
	border:1px solid rgba(255,255,255,0.8);
	border-radius: 5px;
	margin-top:8px;
	box-shadow: 0px 0px 1px #000 inset,0px 0px 2px #000;
}
.gr_ss h1 p a{
	display: block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-indent: 0;
}
.gr_ss h1 p:hover,.gr_ss h1 p.hover{
	background-color: rgba(255,255,255,0);
}
.gr_ss table{ border:solid 1px #dddddd;}
.gr_ss tr th{ color:#666666; font-weight:500; background:#f0efef; padding:11px 0px; text-align:center;}
.gr_ss tr td{padding:18px 0px; color:#666666;border-bottom:1px solid #ededed;}
.gr_ss tr td h2 img{ vertical-align:middle; padding-right:15px; padding-left:15px;display: inline-block;height: 50px;float: left;}
.gr_ss tr td h2 a{color:#666666;display: inline-block;height: 50px;width: 310px;overflow: hidden;line-height: 20px;float: left;transition: all 1s;}
.gr_ss tr td h2 a:hover{color:#0095da;text-decoration: underline; }
.gr_ss tr td h2 i{
	font-style: normal;
	display: inline-block;height: 50px;float: left;
	line-height: 50px;
}
.gr_ss tr td p a{ color:#5a5a5a; transition: all 1s;}
.gr_ss tr td p a:hover{ color:#cc2e5b;}

.gr_d{ margin-top:20px;  border:solid 1px #dddddd;background:#f0efef; padding:10px 0px;}
.gr_d p{ float:left; width:576px; text-indent:43px; color:#666666;}
.gr_d h1{ float:left; width:200px; color:#666666;}
.gr_d h2{ float:left; width:150px; color:#666666; text-indent:100px;}
.gr_f{ border-left:solid 1px #dddddd; border-right:solid 1px #dddddd; padding:25px 20px;border-bottom:solid 1px #dddddd;}
.gr_ff{border-bottom:dashed 1px #e1e1e1; padding-bottom:19px;}
.gr_g{ float:left; width:550px; }
.gr_g h2 img{ vertical-align:middle; padding-right:20px;}
.gr_g h2 a{color:#666666;}
.gr_g  h2 a:hover{color:#0095da; }
.gr_h{ float:left;color:#666666; margin-top:10px;width:200px;}
.gr_j{ float:left; margin-left:100px; margin-top:10px;}
.gr_j a{ color:#666666;}
.gr_j a:hover{ text-decoration:underline; color:#cc2e5b;}
.gr_k p{
	display: block;
	color:#7c7c7c;
	padding-top:15px;
	background-color: red;
}
.gr_k p span{ color:#979696;}

.qx table{ border:solid 1px #dddddd;}
.qx th{ color:#666666; font-weight:500; background:#f0efef; padding:11px 0px; text-align:center;}
.qx tr td{ padding:18px 0px; color:#666666;}
.qx tr td h2{
	cursor: pointer;
}
.qx tr td h2 img{ 
	vertical-align:middle; 
	padding-right:15px; 
	padding-left:15px;
	display: inline-block;
	float: left;
	height: 50px;
}
.qx tr td h2 a{
	display: inline-block;
	color:#666666;
	height: 50px;
	width:480px;
	overflow:hidden;
	line-height: 20px;
	transition: all 1s	
}
.qx tr td h2 a:hover{
	color:#0095da;
	text-decoration: underline; 
}
.qx tr td h2 input{ margin-left:30px;}
.qx tr td p a{ color:#5a5a5a;}
.qx tr td p a:hover{ color:#cc2e5b; text-decoration:underline;}
.jf{ margin-top:20px; background:#ededed; padding:15px 0px; padding-left:45px;}
.jf p{ color:#5a5a5a;}
.jf p em{ font-size:14px; color:#ba0101;}
.jf_q h1{ font-size:14px; color:#5a5a5a; margin-top:20px;}
.jf_q table{ margin-top:20px;}
.jf_q tr td{ color:#5a5a5a; border:solid 1px #e2e2e2; padding:10px 0px;}
.jf_q tr td p{ text-indent:20px;} 
.jf_q tr th{ font-size:14px; color:#5a5a5a; font-weight:500;border:solid 1px #e2e2e2; padding:10px 0px;}
.jf_w{ margin-top:20px;}
.jf_e{ position:relative; float:left;}
.jf_t{ position:absolute; bottom:0px; background:url(../images/jf2.png) repeat center; font-size:14px; text-align:center; color:#FFF; width:120px; padding:5px 0px;}
.jf_t p a{
	color: rgba(255,255,255,1);
	transition: all 1s;
}
.jf_t p a:hover{
	color: rgba(255,255,255,0.3);
}
.jf_y{ float:left; margin-left:20px; margin-top:90px;}
input.jf_yy{ width:258px; height:28px; border:solid 1px #dddddd; text-indent:20px; margin-right:10px;}
.jf_w tr td{ color:#666666; padding-right:25px; padding-bottom:20px;}
input.jf_u{ width:238px; height:38px; border:solid 1px #dddddd; text-indent:9px;}
.jf_w tr td input{ vertical-align:middle;}
.jf_uu{ width:112px; height:35px; background:#cc2e5b; line-height:35px; text-align:center; color:#FFF; border:none;}
.jf_uu:hover{opacity:0.8;}
.jf_a{ margin-top:20px; border:solid 1px #dddddd; padding:25px 50px;}
.jf_a tr td p{ color:#333333; float:left;}
.jf_a tr td{ color:#666666; padding-right:15px; padding-bottom:25px;}
.jf_a tr td h1{ float:right;}
.jf_a tr td h1 a{ margin-left:15px; color:#0095da;}
.jf_a tr td h1 a:hover{ text-decoration:underline;}
.jf_s{ margin-top:20px;}
.jf_s h1{  color:#000; border: 1px solid #ccc; border-radius: 10px; width:120px; height:30px; line-height:30px;border-radius: 5px; text-align:center; font-size:16px; float:left;}
.jf_s p{ float:left; margin-left:10px; color:#5a5a5a; margin-top:8px;}

.js_ee{margin-top:20px; border:solid 1px #dddddd; padding:25px 50px;}
.js_ee tr td{ font-size:12px; color:#666666; padding-right:20px; padding-bottom:20px;}
.js_ee tr td span{ color:#eb0101;}
.js_rr{ width:175px; border:solid 1px #dfdfdf; height:33px;}
.js_ee tr td select{ width:100px; height:33px; border:solid 1px #dfdfdf; margin-right:15px;}
.js_rrr{ width:449px; border:solid 1px #dfdfdf; height:33px;}
.js_ee tr td h2 a{ margin-left:15px; color:#0095da;}
.js_ee tr td h2 a:hover{ text-decoration:underline;}


.jf_d{ margin-top:40px; margin-left:270px;}
.jf_d tr td{ color:#666666; font-size:14px; padding-right:20px; padding-bottom:10px;}
input.jf_ff{ width:228px; height:38px; border:solid 1px #dddddd;}
input.jf_f{ width:128px; height:38px;border:solid 1px #dddddd; float:left;}
.jf_d tr td a{ display:inline-block; font-size:14px; color:#898989; border:solid 1px #dddddd; height:38px; width:88px; float:left; line-height:38px; text-align:center; margin-left:10px}
.jf_d tr td p{ font-size:12px;}
input.jf_fff,.jf_d tr td a.jf_fff,.jf_fff{ border:none; display: inline-block; width:80px; height:35px; background:#cc2e5b; color:#FFF; line-height:35px; text-align:center; cursor: pointer; margin-right:10px; float:none;}
.jf_fff:hover{opacity:0.8;}



.tc{ width:423px; height:250px;position: fixed;z-index: 999;left: 50%;margin-left: -80px;top:50%;margin-top:-200px; background:#FFF;}
.tc_q{ padding-top:10px;}
.tc_q p{ float:left; font-size:14px; padding-left:20px;}
.tc_q h1{ float:right; padding-right:12px;}
.tc_w{ padding:0px 35px; margin-top:50px; padding-bottom:70px; border-bottom:solid 1px #f1f1f1; width:360px; font-size:14px;}
.tc_w p{ text-indent:80px;}
.tc_e{ margin-top:20px; margin-left:40px; width:340px; height:50px; line-height:50px; text-align:center; background:#0095da; margin-bottom:10px;}
.tc_e a{ color:#fff; font-size:14px;}

.jy{ margin-top:30px; border:solid 1px #dfdfdf; padding:40px 35px; margin-bottom:120px; }
.jy_q{ float:left;}
.jy_w{ float:left; margin-left:20px; width:1111px;}
.jy_e{ padding-bottom:30px; border-bottom:solid 1px #dddddd;}
.jy_e h1{ font-size:24px; color:#cc2e5b; line-height:20px;}
.jy_e p{ color:#666666; padding-top:15px;}
.jy_e p span{ float:right;}
.jy_e p span em{ color:#cc2e5b; font-size:24px; line-height:5px;}
.jy_r{ margin-top:20px;}

.jy_r label{ display: inline-block; border: 1px solid #ededed; padding:10px 20px;}
.jy_r label img{ height: 20px; vertical-align: middle;}

.jy_r p{ line-height:22px; color:#666666;}
.jy_r h1{ text-align:center; margin-top:40px;}
.jy_r h1 input{ width:220px; height:50px; display:inline-block; background:#cc2e5b; line-height:50px; color:#FFF; font-size:14px; border: none;}
.jy_r h1 input:hover{opacity:0.8;}
.mm_q{ margin-top:50px;}
.mm_w{ margin-top:90px; margin-left: 60px;}
.mm_w tr td{ font-size:14px; color:#666666; padding-right:20px; padding-bottom:30px;}
input.mm_e{ width:268px; height:38px; border:solid 1px #dddddd;}
input.mm_r{border:solid 1px #dddddd; height:38px;}
.mm_w tr td a{padding: 10px 3px; border-radius: 5px; background: #cc2e5b; color: #fff;  font-size:14px; margin-left:10px;}
/*.mm_w tr td a:hover{ text-decoration:underline;}*/
.mm_t{ background:#cc2e5b; border:none; width:270px; height:40px; text-align:center; line-height:40px; color:#fff;}
.mm_t:hover{opacity:0.8;}
.mm{ 
	/*margin-bottom:120px;*/
	margin: 0 auto;
    width: 523px;
	}
.mm_a{ text-align:center;}
.mm_a h1{ padding-bottom:50px;}
.mm_a h2{ font-size:26px; padding-bottom:30px;}
.mm_a h3{ font-size:14px;}
.mm_a h4{ font-size:14px;}
.mm_a h5{ padding:40px 0px;}
.mm_a h5 a{ width:318px; display:inline-block; background:#0095da; color:#fff; border:solid 1px #0095da;border-radius:50px; font-size:14px;height:50px; line-height:50px;}
.mm_a h5 a:hover{opacity:0.8;}
.mm_a h6{ font-size:14px;}
.mm_a p a{ color:#000; font-size:14px;}
.mm_a p a:hover{ text-decoration:underline;}
/*--------------------------------sc-----------------------------------------*/
.topq{ width:1200px; margin:0px auto; margin-top:19px;}
.top_qq{ float:left;}
.top_wq{ float:left; margin-left:425px;}
.top_wq ul li{ float:left; font-size:14px; margin-right:43px; margin-top:15px;}
.top_wq ul li a{ color:#4d4d4d;}
.top_wq ul li a:hover{ color:#119cdc;}
.top_wq ul li a.hover{ color:#119cdc;}
.top_eq{ float:right; margin-top:15px;}
.top_eq a{ color:#4d4d4d;}
.top_eq a:hover{color:#119cdc;}
.lb{ border-top:solid 1px #dddddd; margin-top:20px;}
.lb_q{ width:1200px;margin:0px auto; margin-bottom:50px;}
.lb_w{ margin-top:30px;color:#828282;}
.lb_w a{ color:#828282;}
.lb_w a:hover{ color:#0095da;}
.lb_e{ margin-top:15px; background:#f7f7f7; padding:20px 45px;}
.lb_r{ color:#ff0000; border-bottom:solid 1px #f3f3f3; padding-bottom:15px;}
.lb_r span{  color:#999899; font-size:14px; padding:0px 18px;}
.lb_r a{ font-size:14px; color:#5a5a5a;}
.lb_r a:hover{ color:#0095da;}
span.lb_rr{color:#ff0000; font-size:14px;}

.lb_y{ border-top:solid 1px #FFF; padding-top:15px;}
.lb_y{ color:#828282;}
.lb_y span{ color:#828282; font-size:14px; padding:0px 18px;}
.lb_y a{ font-size:14px; color:#5a5a5a;}
.lb_y a:hover{ color:#0095da;}
span.lb_rrr{color:#5a5a5a; font-size:14px;}
.lb_u{ margin-top:30px; width:1250px;}
.lb_i{float:left; border:solid 1px #e7e7e7; width:215px; padding:37px; margin-right:10px; margin-bottom:20px; min-height:350px;}
.lb_p h1 a{ color:#5a5a5a; font-size:14px;}
.lb_p h1 a:hover{ color:#0095da;}
.lb_p{ margin-top:20px;}
.lb_a{ margin-top:20px;}
.lb_s{ float:left;}
.lb_s p{ font-size:14px; color:#5a5a5a;}
.lb_s p em{ font-size:18px;}
.lb_s h1{ color:#5a5a5a; padding-top:20px;}
.lb_d{ float:right; margin-top:30px;}
.lb_d a{ text-align:center; color:#FFF; display:inline-block; width:85px; line-height:28px; background:#0095da;}
.lb_d a:hover{ text-decoration:underline;}
.xx{ margin-top:20px;}
.xx_q{ border:solid 1px #eeeeee; float:left;}
.xx_w{ float:left; margin-left:125px; width:537px;}
.xx_e{ font-size:30px; padding-bottom:20px; border-bottom:solid 1px #dddddd;}
.xx_r h1{ font-size:30px; color:#ff4c4b; padding:25px 0px;}
.xx_r p{ color:#5a5a5a;}
.xx_r{ padding-bottom:40px; border-bottom:solid 1px #dddddd;}
.xx_t{ margin-top:40px;}
.xx_t p{ font-size:14px; color:#323232;}
.xx_t p span{ margin-right:30px;}
.xx_t p a{ display:inline-block; padding:10px 15px; border:solid 1px #dadada; margin-right:8px; font-size:12px; color:#5a5a5a;}
.xx_t p a:hover{ border:solid 1px #0095da;}
.xx_y{ margin-top:30px;}
.xx_y span{font-size:14px; color:#323232;margin-right:30px; float:left; padding-top:5px;}
.xx_y input{ border:solid 1px #a6a6a6; width:46px; height:28px; text-align:center; float:left; border-right:none; border-left:none;}
.xx_y a{ border:solid 1px #a6a6a6; width:28px; height:28px; display:inline-block; text-align:center; float:left; line-height:28px; color:#000;}
.xx_u{ margin-top:47px;}
.xx_u a{ color:#FFF; text-align:center; width:144px; height:47px; line-height:47px; background:#0095da; display:inline-block; font-size:14px;}
.xx_u a:hover{opacity:0.8;}
.xx_a{ width:100%; background:#efefef; margin-top:30px; padding:10px 0px;}
.xx_s{ width:1200px; margin:0px auto;}
.xx_ff{ float:left;}
.xx_d{ float:left; border:solid 1px #dddddd;}
.xx_f{ float:left; margin-left:15px;}
.xx_f h1 a{ font-size:14px; color:#5a5a5a;}
.xx_f p{ font-size:14px; color:#0095da; padding-top:18px;}
.xx_g{ float:left; margin-left:180px; margin-top:25px;}
.xx_g a{ color:#5a5a5a; font-size:18px; margin-right:75px;}
.xx_g a:hover{ color:#0095da;}
.xx_h{ float:right; margin-top:10px;}
.xx_h a{color:#FFF; text-align:center; width:144px; height:47px; line-height:47px; background:#0095da; display:inline-block; font-size:14px;}
.xx_h a:hover{opacity:0.8;}
.xx_j{width:1200px; margin:0px auto; margin-top:20px;}
.xx_l h1{ font-size:16px; padding:15px 0px;}
.xx_x{ font-size:18px; padding:30px 0px; border-bottom:solid 1px #dddddd;}
.xx_cc{ margin-top:40px; padding-bottom:60px; border-bottom:solid 1px #efefef;}
.xx_c{ float:left;}
.xx_c img{ width:75px; height:75px; border-radius:100%;}
.xx_v{ margin-left:20px; float:left; width:1079px;}
.xx_v h1{ color:#999; font-size:12px;}
.xx_v h1 span{ float:right;}
.xx_v p{ margin-top:30px; font-size:14px; color:#5a5a5a;}
.sc{ margin:20px 0px; width:100%; border-top:1px solid #DBDBDB;}
.sc_q{ width:1200px; margin:0px auto; margin-top:20px;}
.sc_e{ float:left; border:solid 1px #eaeaea; width:241px;}
.sc_r{ border-bottom:solid 1px #eaeaea; padding:20px;}
.sc_r:hover{ background:url(../images/sy112.jpg) no-repeat 215px 35px;}
.sc_t h1 a{ color:#0095da; font-size:16px;}
.sc_y p{ float:left; width:98px; padding-top:5px;}
.sc_y p a{ color:#666666; font-size:14px;}
.sc_y p a:hover{ color:#0095da;}

.wrapper{ float:left; margin-left:10px;}
#focus{width:946px;height:437px;overflow:hidden;position:relative;}
#focus ul{height:437px;position:absolute;}
#focus ul li{float:left;width:946px;height:437px;overflow:hidden;position:relative;background:#000;}
#focus ul li div{position:absolute;overflow:hidden;}
#focus .btnBg{position:absolute;width:946px;height:60px;left:0;bottom:0;background:#000; color:#FFF; text-indent:15px; line-height:60px; display:none;}
#focus .btn{position:absolute;width:946px;height:10px;padding:5px 10px;right:0;bottom:22px;text-align:center;}
#focus .btn span{display:inline-block;_display:inline;_zoom:1;_font-size:0;margin-left:5px;background:#d8f6de;border:solid 1px #d8f6de;border-radius:30px; height:13px; width:13px;}
#focus .btn span.on{background:#f7f7f7;border:solid 1px #f7f7f7;}
#focus .preNext{width:38px;height:38px;position:absolute;top:130px;background:url(img/sprite.png) no-repeat 0 0;cursor:pointer;}


.hs{ width:1200px; margin:0px auto; margin-top:20px;}
.hs_w{ border:solid 1px #eaeaea; width:592px; float:left; margin-right:10px;}
.hs_w:hover{ background:#f7f7f7;}
.hs_e{ float:left;}
.hs_r{ float:left; width:272px; margin-left:50px; margin-top:35px;}
.hs_r h1{ color:#e8340e; font-size:18px; padding-bottom:15px;}
.hs_r p a{ color:#5a5a5a; font-size:18px;font-family:"宋体";}
.hs_r p a:hover{ color:#0095da;}
.hs_r h2{ font-size:14px; color:#5a5a5a; margin-top:45px; font-family:"宋体";}
.hs_r h2 em{ font-size:24px;}
.hs_r h3 a{ width:108px; height:33px; border:solid 1px #eaeaea;border-radius:5px; display:inline-block; text-align:center; line-height:33px; font-size:14px; color:#5a5a5a;}
.hs_r h3 a:hover{ color:#0095da;}
.hs_r h3{ padding-top:25px;}
.hs_q{ width:1250px;}

.hs_t{ margin-top:35px;}
.hs_t h1{ color:#323232; font-size:16px; padding-bottom:20px;}
.hs_t tr td{ width:299px; border:solid 1px #eaeaea; text-align:center;}
.hs_y p a{ font-size:16px; color:#323232;}
.hs_y p a:hover{ color:#0095da;}
.hs_y h1{ font-size:12px; color:#828282;}
.hs_u{ margin-top:35px;}
.hs_u h1{ color:#323232; font-size:16px; padding-bottom:20px;}
.hs_a{ border:solid 1px #eaeaea; margin-bottom:20px;}
.hs_s{ float:left; border-right:solid 1px #eaeaea; width:400px; padding-bottom:35px;}
.hs_s h1{ padding-left:35px; font-size:14px; color:#323232; padding-bottom:15px; padding-top:80px;}
.hs_s h1 em{ font-size:24px;}
.hs_s p{ padding-left:35px;}
.hs_s p a{ font-size:14px; color:#323232;}
.hs_s p a:hover{ color:#0095da;}
.hs_d{ float:left; width:797px;}
.hs_g{ float:left;}
.hs_h{ float:right;}

.hs_f{ border-bottom:solid 1px #eaeaea;}
.hs_g{ margin-top:240px;}
.hs_g h1{ padding-left:35px; font-size:14px; color:#323232; padding-bottom:15px;}
.hs_g h1 em{ font-size:24px;}
.hs_g p{ padding-left:35px;}
.hs_g p a{ font-size:14px; color:#323232;}
.hs_g p a:hover{ color:#0095da;}

.hs_j{ float:left; border-right:solid 1px #eaeaea;}
.hs_j h1{ padding-left:35px; font-size:14px; color:#323232; padding-bottom:15px;}
.hs_j h1 em{ font-size:24px;}
.hs_j p{ padding-left:35px;}
.hs_j p a{ font-size:14px; color:#323232;}
.hs_j p a:hover{ color:#0095da;}

.hs_k{ float:left;}
.hs_k h1{ padding-left:35px; font-size:14px; color:#323232; padding-bottom:15px;}
.hs_k h1 em{ font-size:24px;}
.hs_k p{ padding-left:35px;}
.hs_k p a{ font-size:14px; color:#323232;}
.hs_k p a:hover{ color:#0095da;}

.ll{ font-size:18px; color:#5a5a5a; padding-bottom:20px; border-bottom:solid 1px #dddddd;}
.ll_q{ margin-top:40px; text-align:center;}
.ll_q h1{ font-size:14px; color:#71b247;}
.ll_q h1 img{ vertical-align:middle; padding-right:10px;}
.ll_q h1 a{ color:#751781;}
.ll_q h1 a:hover{ text-decoration:underline;}
.ll_w{ margin-top:20px; border:solid 1px #dedede; border-bottom:none; padding:10px 30px; color:#666666;}
.ll_w p input{ vertical-align:middle;}
.ll_w p{ float:left;}
.ll_w h1{ float:left; margin-left:30px;}
.ll_w h1 a{color:#666666; margin-right:20px;}
.ll_w h1 a:hover{ color:#0095da;}
.ll_r{ margin-top:20px;}
.ll_t{ margin-top:30px; float:right;}
.ll_t a{ color:#999999; font-size:16px; border:solid 1px #dddddd; display:inline-block; padding:8px; margin-left:7px;}
.ll_t a:hover{ border:solid 1px #771a82; color:#771a82;}
.ll_t a.hover{ background: #FC7100; color: #fff;}
.ll_y p{ float:left;}
.ll_y h1{ float:right; margin-top:14px;}
.ll_u{ margin:50px auto; overflow: hidden;}
.ll_i{ font-size:18px; color:#333333; width: auto;height: 50px; display: inline-block;}
.ll_u{ margin:50px auto;}
.ll_u1{ margin:50px auto; width: 320px; overflow: hidden;}
.ll_i{ font-size:18px; color:#333333; width: auto;height: 50px; display: inline-block;}
.ll_o{ border:solid 1px #dddddd;}
.shopcart_main_none{    width: 400px;margin: 0 auto;}
.shopcart_main_none_main{float: right; padding: 5px 0;}
.shopcart_main_none_main a{display: inline-block; padding: 5px 10px; background: #771a82; border: 1px solid #771a82; border-radius: 5px; color: #fff; margin-top: 10px;}
.shopcart_main_none_main p{margin-bottom: 3px; font-size: 16px;}
.ll_p{background: #EFEFEF none repeat scroll 0% 0%;padding: 12px;font-size: 16px;color: #666;}
.ll_a{ padding:17px; border-bottom:solid 1px #dddddd; width:95%; margin:0px auto;}
.ll_a a{ color:#cc2e5b;}
.ll_s{ padding:17px;width:95%; margin:0px auto;}
.ll_s p{ float:left; color:#333333;}
.ll_s p input{ vertical-align:middle; margin-right:6px;}
.ll_s h1{ float:right;}
.ll_s h1 a{ color:#cc2e5b; margin-left:20px;}
.tjdd_one{ border:1px solid #e6e6e6; border-top:none;}
.tjdd_one_h1{ background:#efefef; padding:12px; font-size:16px; color:#666666;}
.tjdd_one_h1 span{ float:right; margin-top:5px;}
.tjdd_one_h1 span a{ font-size:12px; color:#cc2e5b;}
.tjdd_one_dizhi_box table tr td{ padding:10px 10px;}
.tjdd_one_dizhi_box{ padding:15px 24px;}
.tjdd_one_dizhi_box p label{margin: 0 5px;}
.js p{margin: 5px 0;}


.person_js  p,.person_js  h2{ color: #5a5a5a;
line-height: 20px;
padding-bottom: 10px;}

.person_js input {
    border: 1px solid #E6E6E6;
    width: 120px;
    height: 24px;
    margin: 0px 5px;
}



.tjdd_one_dizhi_box p label input{position: relative;top: 1px;margin-right: 5px;}
.dd_q{ padding-top:25px; padding-bottom:10px;border-bottom:1px dashed #E6E6E6;}
.dd_q p{ color:#5a5a5a; line-height:25px; padding-bottom:10px;}
input.proe{ border:1px solid #E6E6E6; width:66px; height:24px; margin:0px 5px;}
.dd_q p em{ color:#cc2e5b; font-size:14px;}
.prov{border:1px solid #E6E6E6; margin:0px 5px;}
input.prow{ border:1px solid #E6E6E6; width:120px; height:24px; margin:0px 5px;}
.dd_q p a{ background:#cc2e5b; color:#FFF; padding:4px 15px;}
.ll_d{padding:17px; width:95%; margin:0px auto;}
.ll_f{ margin-top:30px;}
.ll_g{ float:left; width:770px; border-right:dashed 1px #E6E6E6;}
.ll_g p span{ vertical-align:top; color:#666666; padding-right:40px;}
.ll_g p textarea{ width:328px; height:48px; padding:10px;border: 1px solid #e6e6e6;}
.ll_h{ float:left; width:350px;}
.ll_h tr td{ text-align:right; width:50%; color:#666666; padding-bottom:10px;}
.ll_h tr td p{ color:#cc2e5b; font-size:18px;}
.ll_j{ padding:17px; border-bottom:solid 1px #dddddd; width:95%; margin:0px auto; color:#999999; text-align:center;}
.ll_aa a{ color:#179cf6;}
.ll_aa{padding:17px;width:95%; margin:0px auto;}

.js_eeq{margin-top:20px; padding:25px 50px;}
.js_eeq tr td{ font-size:12px; color:#666666; padding-right:20px; padding-bottom:20px;}
.js_eeq tr td span{ color:#eb0101;}
.js_rrq{ width:175px; border:solid 1px #cccccc; height:26px;}
.js_eeq tr td select{ width:100px; height:26px; border:solid 1px #dfdfdf; margin-right:15px;}
.js_rrrq{ width:449px; border:solid 1px #dfdfdf; height:33px;}
.js_eeq tr td h2 a{ margin-left:15px; color:#0095da;}
.js_eeq tr td h2 a:hover{ text-decoration:underline;}

a.ll_k{ display:inline-block; width:93px; height:28px; border:solid 1px #dddddd; font-size:14px; color:#333333; text-align:center; line-height:28px; margin-right:15px;}
a.ll_k:hover{ background:#cc2e5b; color:#FFF; border:solid 1px #cc2e5b;}
a.ll_l{ display:inline-block; width:63px; height:28px; border:solid 1px #dddddd; font-size:14px; color:#333333; text-align:center; line-height:28px; margin-right:15px;}
a.ll_l:hover{ background:#cc2e5b; color:#FFF; border:solid 1px #cc2e5b;}


.gwc_box table{ border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; font-family:"宋体";}
.gwc_box table tr th{ background:#f2f2f2; text-align:center; border-top:1px solid #e5e5e5; font-size:14px; font-weight:lighter;}
.gwc_box table tr th,.gwc_box table tr td{ padding:10px 0px; font-size:12px; color:#666666;}
.gwc_box table tr td{ border-bottom:1px solid #e5e5e5; padding:20px 0px;}
.gwc_p p{ float:left;margin-right:20px; width:80px; height:80px; overflow:hidden; text-align:center; vertical-align:middle; line-height:60px; display:table-cell; border:1px solid #e5e5e5; font-size:12px;}
.gwc_p h1 a{ color:#666666;}
.gwc_p h1 a:hover{ text-decoration:underline;}

.xl_p_shuliangq a,.xl_p_shuliangq input{ width:20px; text-align:center; display:inline-block; border:1px solid #cccccc; height:20px; line-height:20px; float:left; }
.xl_p_shuliangq input{ border-left:0px; border-right:0px; width:20px;}
.xl_p_shuliangq a{ color:#666666; cursor: pointer;}
.xl_p_shuliangq{ padding-left:30px;}


.gwc_box_zongjia{ border:1px solid #f0f0f0; padding:0px 0px; margin:10px 0px;}
.gwc_box_zongjia h1{ float:left; margin-left:10px; height:50px; line-height:50px; color:#333333;}
.gwc_box_zongjia h1 input{ vertical-align:middle; margin-right:6px;}
.gwc_box_zongjia h1 a{ color:#179cf6; margin-left:26px; cursor: pointer;}

.gwc_box_zongjia p strong{ color:#cc2e5b;margin-right:10px;}
.gwc_box_zongjia p a{ display:inline-block; width:96px; height:40px; background:#cc2e5b; line-height:40px; text-align:center; color:#fff;font-size:16px;}

.gwc_box_zongjia p{ float:right; color:#333333;}

.ll_z{ margin-top:20px;}
.ll_z tr td{ border:solid 1px #dddddd; width:234px;}
.ll_x{ padding:19px;}
.ll_x p{ padding-top:10px; color:#cc2e5b; font-size:18px;}
.ll_x p em{ font-size:14px;}
.ll_x p span{ font-size:12px; color:#999999; padding-left:10px;}
.ll_x h1 a{ color:#292929;}
.ll_x h1 a:hover{ color:#0095da;}
.ll_x h1{ padding-top:10px;}

.zc{ width:1000px; margin:0px auto; margin-top:20px;}
.zc_q{ float:left; border-right:solid 1px #dfdfdf; padding-right:15px;}
.zc_w{ float:left; font-size:30px; color:#646464; padding-left:15px;}
.zc_e{ float:right; margin-top:60px; color:#666666;}
.zc_e a{ color:#cc2e5b;}
.zc_e a:hover{ text-decoration:underline;}

.zc_r{ border:solid 1px #dddddd; background:#FFF; margin-top:20px; padding:40px 0px;border-radius:5px;}
.zc_t{ margin-left:250px;}
.zc_t tr td{ font-size:14px; color:#333333; padding-right:30px; padding-bottom:20px;}
input.zc_y{ width:348px; height:38px; border:solid 1px #dddddd; text-indent:10px;}
input.zc_yy{ width:198px; height:38px; border:solid 1px #dddddd; text-indent:10px; float:left;}
a.zc_yyy{ width:138px; height:38px;line-height: 38px; text-align: center; display:inline-block; border:solid 1px #dddddd; float:left; margin-left:5px;}
input.zc_u{width:350px; height:40px;border-radius:5px; line-height:38px; background:#cc2e5b; border:none; color:#FFF;}
input.zc_u.hover{ background: #ededed;}
.zc_t tr td p{ color:#999997;}
.zc_t tr td p a{ color:#771a82;}
.zc_t tr td p a:hover{ text-decoration:underline;}

.mm_w tr td .error_tip,.zc_t tr td .error_tip{color: #cc2e5b; height:16px; display: inline-block; line-height: 16px; background: url(../images/wriong.png) no-repeat 10px center; padding-left:30px; display: none;}


.jj_title{ text-align: center; font-size:24px; margin-bottom: 20px; color: #333; padding-bottom: 10px; border-bottom:1px solid #ededed;}




.cj{ margin-top:20px;}
.cj_q{ float:left;width:208px;border: 1px solid #DDDCDC;}
.container{width:100%; margin-top:3px}
.menuTitle{width:208px; height:42px; background-image:url(../images/fold.gif); margin:0 auto; line-height:46px; font-size:14px;color:#333333; cursor:pointer; text-indent:15px;border-bottom: 1px solid #DDDCDC;}
.activeTitle{width:208px; height:42px; background-image:url(../images/expand.gif); margin:0 auto;line-height:46px; font-size:14px;color:#000000; cursor:pointer;}
.menuContent{ display:none}
.menuContent ul{border-bottom: 1px solid #DDDCDC; padding:10px 0px;}
.menuContent ul li{ width:208px; font-family:"微软雅黑"; font-size:14px; color:#323232;text-indent:35px; line-height:25px;}
.menuContent ul li a{color:#484848;width:208px; display:inline-block; float:left; background:url(../images/ww5.png) no-repeat 25px}
.menuContent ul li a:hover{ color:#771a82;background:url(../images/w5.png) no-repeat 25px;}
.menuContent ul li a.hover{ color:#771a82;background:url(../images/w5.png) no-repeat 25px;}
.cj_w{ float:left; width:795px;border: 1px solid #DDDCDC; margin-left:18px;}
.jj{ padding:18px;}
.jj_q{ text-align:center; border-bottom:dashed 1px #999999;}
.jj_q p{ color:#999999; padding-bottom:15px;}
.jj_q h1{ color:#333333; font-size:18px; padding-bottom:15px;}
.jj_w p{ color:#333333; line-height:22px; text-indent:25px; font-family:"宋体";}
.jj_w h1{ font-size:14px; color:#333333; font-weight:600; font-family:"宋体";}

.jj_r p{ border-bottom:dashed 1px #dddddd; padding-bottom:15px; padding-top:15px;}
.jj_r p a{ color:#333333;}
.jj_r p a:hover{ color:#771A82; text-decoration:underline;}
.jj_r p img{ vertical-align:middle; padding-right:13px;}
.jj_r p span{ float:right; color:#999999;}
.gr_s table tbody tr h2,.gr_ss table tbody tr h2{display: inline-block;}
.cj_r{text-align: center;margin: 10px 0;}
.cj_r a{border: 1px solid #ccc; padding: 3px 5px; margin-left: 5px;}
.hyzx_my_zh_menu a{margin: 0 5px;color: #666;}

.hyzx_my_zh_menu a.hover{ color: #ba0101;}

.hyzx_my_zh_menu{
	position: relative;
	top: 5px;
	padding-right: 10px;
}

.hyzx_my_zh_table table tr td{
	font-size: 15px;
	color: #666;
	height: 60px;
	line-height: 60px;
}
.hyzx_my_zh_table input[type=text]{
	outline-style: none;
	border-style: none;
	border: 1px solid #ddd;
	width: 200px;
	height: 30px;
	position: relative;
	top: 2px;
}
.hyzx_my_zh_table input[type=submit]{
	outline-style: none;
	border-style: none;
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
	height: 40px;
	width: 120px;
	background-color: #771A82;
	transition: all 1s;
	cursor: pointer;
}
.qx{width: 100%;height: 620px; margin: 0 auto;}
.qx p{width: 120px; margin: 15px auto;}
.gr_u>p{
	display: block;
	text-align: center;
}
.commandNO{
}
.gr_u #write .write_m{
	margin: 0 auto;
	width: 482px;
}
.gr_u #write .form-item input[type=text]{
	display: block;
	width: 480px;
	height: 40px;
	margin: 0 auto;
	border: 1px solid #ddd;
}
.gr_u #write .form-item textarea{
	resize: none;
	display: block;
	width: 480px;
	margin: 0 auto;
	border: 1px solid #ddd;
}
.gr_u #write input.btn_submit_pay{
	border-style: none;
	outline-style: none;
	display: inline-block;
	background-color: #771A82;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left:20px;
	margin-right:20px;
	cursor: pointer;
}
.form-item{
	margin: 15px 0;
}
.gr1{width: 400px; margin: 200px auto;}
.mm_w1{margin: 0;}
#diy_39,#diy_38{
	padding: 10px 0;
}
.hy_i{
	width: 100%;
	background-color: #771A82;
	height: 50px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-indent: 20px;
	line-height: 50px;
}
.dingdan_show{
	display: block;
	width: 100%;
}
..dingdan_show li{
	display: block;
	width: 100%;
}
.dingdan_show li h3{
	display:block;
	width: 100%;
	height: 50px;
	color: #333;
	font-size: 15px;
	text-indent: 20px;
	line-height: 50px;
	border-bottom: 3px solid #771A82;
}
.dingdan_show li label{
	display: inline-block;
	height: 50px;
	width: 50%;
	float: left;
	line-height: 50px;
	text-indent: 20px;
	background-color: #F8F8F8;
}
.wuliu_show{
	display: block;
	width: 100%;
	border: 1px  dashed #ededed;
	box-sizing: border-box;
}
.wuliu_show li{
	display: block;
	width: 100%;
	float: left;
	
}
.wuliu_show li h3{
	display:block;
	width: 100%;
	height: 30px;
	color: #333;
	font-size: 15px;
	text-indent: 20px;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.wuliu_show li label{
	width: 80%;
	height: 30px;
	line-height: 30px;
	float: left;
	text-indent: 20px;
}

.wuliu_show li label:first-child{
	width: 10%;
	text-align: right;
	background: #fafbf8;
	padding-right:20px;
}

.shongpin_show{
	display: block;
	width: 100%;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-left-style: none;
	border-right-style: none;
}
.shongpin_show li{
	display: block;
	width: 50%;
	float: left;
	border-bottom: 1px dotted #ddd;
}
.shongpin_show li h3{
	display:block;
	width: 100%;
	height: 50px;
	color: #333;
	font-size: 15px;
	text-indent: 20px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.shongpin_show li label{
	width: 50%;
	height: 50px;
	line-height: 50px;
	float: left;
	text-indent: 20px;
}
.shongpin_show li label a p{
	height: 50px;
	line-height: 25px;
	text-indent: 0;
	color: #333;
	transition: all 0.5s;
	cursor: pointer;
}
.shongpin_show li label a p:hover{
	color: #771A82;
	text-decoration: underline;
}
.new-dizhi .dz-content ul li select{
	
}



.gr_s .my_order table{
	width: 100%;
	border: none;
	margin-bottom:15px;
}


.gr_s .my_order table tr td,.gr_s .my_order table tr th{
	padding:2px 5px;
	border: 1px solid #ededed;
}

.gr_s .my_order table tr th{ padding:10px 10px;}

.gr_s .my_order table tr th{
	background: #fafbf8;
	text-align: left;
}

.gr_s .my_order > table {
	border: 1px solid #ededed;
}

.gr_s .my_order > table > tr > td{
	border: 1px solid #ededed;
}

.gr_s .my_order table td table{ border-top:1px dashed #ededed;}
.gr_s .my_order table td table:nth-of-type(1){ border-top:none;}
.gr_s .my_order table td table td{ border: none; padding-bottom:0px;padding-top:10px;}




.my_o_img{ float: left; padding:5px; border: 1px solid #ededed; margin-right:10px;}
.my_o_text{ float:left; width: 300px; margin-top:5px;}
.my_o_text a,.gr_s .my_order table td table td a{ color: #333;}
.my_o_text a:hover{ text-decoration: underline;}



.order-pl{
	text-align: center;
}


.order-pl .img{
	float: left;
	margin-left:10px;
}

.order-pl .text{
	margin:10px 0;
	float: left;
	width: 260px;
	margin-left:20px;
	text-align: left;
}


.gr_s .my_order table td table td .p1-textarea{
	width: 540px;
	height: 80px;
	border: 1px solid #ccc;
	resize: none;
	padding:10px;
	box-sizing: border-box;

}

.gr_s .my_order table td table td .p1-textarea:focus{
	border:1px solid red;
}



.gr_s .my_order table td table td  .tj_pinglun{
	border: 1px solid orangered;
	border-radius: 5px;
	height: 30px;
	background:none;
	cursor: pointer;
	color: orangered;
	width: 70px;
	margin-left:20px;
	margin-right:20px;
}

.gr_s .my_order table td table td  .tj_pinglun:hover{
	opacity: 0.7;
}


.order_pinglun{
	padding-top:10px;
	border-top:1px solid #ededed;
}



.button-text{
	padding: 10px;
	background:#ededed;
	font-size:12px;
}

.button-text p{
	line-height: 30px;
}

.button-text strong{
	font-weight: bold;
}


.hyzx_my_zh_table p{
	line-height:30px;
}


.hyzx_table{
	
}

.hyzx_table table{
	width: 400px;
	margin-top:20px;
	margin-bottom:50px;
}


.hyzx_table table tr td{
	padding:10px;
}



.hyzx_table .ew_dqido{
	 border: 1px  dashed #ededed;
	 padding:10px;
}


.hyzx_table .ew_dqido code{
	 background: #ededed;
	 padding:3px 5px;
	 border-radius: 5px;
	 box-shadow: 0px 0px 3px #ccc inset;
	 margin-right:5px;
	 margin-left:5px;
	 display: inline-block;
}

.hyzx_table .ew_dqido .button-bian{
	 color: #cc2e5b;
	 margin-left:10px;
}

.hyzx_table .ew_dqido .button-bian:hover{
	text-decoration: underline;
}


 .tk_input input.money{
 	width: 208px;
 	padding:0 10px;
	height: 35px;
	border: solid 1px #dddddd;
	margin-right:10px;
 }


.tk_input input.submit{
	border: none;
	width: 120px;
	height: 35px;
	background: #cc2e5b;
	color: #FFF;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}

.tk_input input.submit:hover{
	opacity:0.8;
}



.hy_s p {
    color: #333;
    font-size: 14px;
    padding: 5px 0px;
}


.jm_dj {
    width: 224px;
    line-height: 53px;
    border: 1px solid #f8930f;    
    color: #f8930f;
    margin-top: 53px;
    float: right;
    font-size: 23px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer; 
}


.cp_h {
    border: solid 1px #dedede;
}


.cp_k {
    padding: 30px 20px;
}

.cp_k h1 {
    font-size: 18px;
    color: #454545;
    background: none;
    text-indent: 0px;
}


.hy_box > img{
	 border: 1px solid #ededed;
}


.hy_box{
	margin:20px 0;
}


.jam {
    display: none;
    position: fixed;
    bottom: 90px;
    left: 50%;
    margin-left: -277px;
	top:50%;
	margin-top:-170px;
    padding: 0 50px 24px;
    width: 508px;
    height: 340px;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 0px 3px #999999;
}

.jam_top {
    border-bottom: 1px solid #dedede;
}
.jam_top h2 {
    line-height: 63px;
    font-size: 19px;
    color: #000;
    float: left;
}

.jam_top a {
    float: right;
    width: 18px;
    height: 18px;
    background: url(../images/pic_ca.png) no-repeat;
    margin-top: 22px;
}


.jam_cot {
    padding-top: 8px;
    padding-left: 108px;
}

.jam_cot li {
    margin-top: 11px;
    line-height: 40px;
    font-size: 14px;
}

.jam_cot li span {
    color: #ff5454;
    margin-top: 14px;
}

.jam_cot li input {
    border: 1px solid #dedede;
    width: 229px;
    line-height: 40px;
    height: 40px;
}

.jam_cot li input {
    border: 1px solid #dedede;
    width: 229px;
    line-height: 40px;
    height: 40px;
}


.hy_box_info p{
	font-size:12px;
}


.jf_img{
	 width: 300px;
	 height: 300px;
	 overflow: hidden;
	 float: left;
	 border: 1px solid #ededed;
}
.jf_img_box{
	 position: relative;

	
}

.jf_img_box .jf_title{
	position: absolute;
	background: rgba(00,00,00,.6);
	color: #fff;
	width: 100%;
	display: block;
	bottom: 0px;
	left: 0px;
	padding:5px 10px;
	border: 1px solid #ededed;
}

.jf_img_box .jf_jf{
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	padding: 3px 10px;
	color: #fff;
	background: #cc2e5b;
}


.cp_k{
	float:right;
	width:570px;
}     



.cp_info{
	
	padding:20px;
	border: 1px dashed #ccc;
	color: #333;
}

.cp_info > div{
	font-size:14px;
	margin:10px 0;
}



.cp_info .jf_title{
	 font-size:16px;
	 font-weight: bold;
}


.cp_info .jm_dj_button{
	display: inline-block;
	cursor: pointer;
	width: 80px;
	height: 35px;
	background: #cc2e5b;
	color: #FFF;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
}



.back-list{
	background: url(../images/back-list.png) no-repeat center;
	width: 30px;
	height: 30px;
	background-size:100%;
	float: right;
	margin-top:10px;
	margin-right:20px;
}


.back-list:hover{
	opacity: 0.8;
}




.c-c-2 {
    padding-top: 36px;
}
.con-contant {
   margin-top:30px;
   
    padding-top: 17px;
    border: 1px solid #e8e8e8; 
    padding-top:40px;
}


.hyzx-tab {
    width: 100%;
    
}

.hyzx-tab th, .hyzx-tab td {
    width: 50%;
    padding-left:80px;
}


.dd-dl {
    display: inline-block;
    margin-bottom: 32px;
}


.dd-dl dt {
    border: 1px solid #e8e8e8;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    text-align: center;
    line-height: 119px;
    display: inline-block;
    margin-right: 28px;
}


.dd-dl dd {
    display: inline-block;
}

.dd-dl dd h6 {
    font-size: 14px;
    margin-bottom: 10px;
}


.dd-dl dd p a {
    font-size: 12px;
    color: #b4b4b4;
    font-weight: lighter;
}