<include file="Public/header"/>
<div class="baner">
	<a href="#"><img src="__IMG__/img_hot.jpg"/></a>
</div>
<div class="wrap wap">
	<div class="baner_title">
    	<a href="#"><h2>商道中国·家业传承中的领导学商道中国家业传承中的领导学</h2></a>
        <span>￥680.00</span>
        <strong>￥780.00</strong>
    </div>
    <div class="freight">
    	<p>运费：</p><span>免运费</span>
    </div>
   <p class="jh_num clear">
        <em>数量</em>
        <input type="button" value="-" class="jh_minus">
        <input type="text" value="1" class="number">
        <input type="button" value="+" class="jh_plus">
    </p>
</div>
<div class="minute">
	<div class="minute_in clear">
    	<a href="#"><div class="min">详情</div></a>
        <span></span>
        <a href="#"><div class="pin">评论</div></a>
    </div>
</div>
<div class="wrap clear">
	<div class="article">
    	<h2>企业组织管控与执行力飞跃提升</h2>
        <p>主讲：肖阳老师 </p>
    </div>
    <div class="artic">
    	<p>孙子曰：兵无常势、水无常形，能因敌变化而取胜者，谓之神。</p>
        <p>企业经营无一定之规，但必然有章可循。</p>
        <p>现实中，企业与各级管理者往往面临三大难题：</p>
        <p>1、四处救火、疲于奔命-----部门推诿扯皮，责任不能落地，不知如何提高下属执行力，企业略模糊、组织效率低下；</p>
        <p>2、有令不行、有禁不止------领导忙得要死，下属闲得发慌，不知如何提高自身管理水平，管手段落后、管理意识落伍；</p>
        <p>3、不敢突破、缺少创新------来来回回都是过去的“三板斧”，不知如何提高团队学习能力、人才引进培养遭遇瓶颈。</p>
        <p>作为现代“中国式管理”的发起者与奠基人之一，经营策略与人力资源导师、北大纵横合伙人肖老师，凭借深厚国学功底与扎实西方管理理念，以中西合璧的方式，为企业解读集团管控实战中的“道、法、术、势”，使企业各团队执行力飞跃提升，达到招之即来、来之能战、战之能胜、胜之能久的管控目标。助力发展型企业二次创业，好风借力、直上青云！</p>
    </div>
    <div class="course">
    	<p>【课程对象】</p>
        <p>集团董事长、总裁、人力副总、财务副总、营销副总、总裁助理、等高级管理人员</p>
        <p>各部门总监、大区经理以上主要管理干部</p>
    </div>
</div>
<div class="cour_bot clear">
	<a href="#"><div class="collect">
    	<span></span>
        <p>加入收藏</p>
    </div></a>
    <a href="#"><div class="want">我要分销</div></a>
    <a href="#"><div class="car">加入购物车</div></a>
</div>
</body>
</html>
