<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv=”X-UA-Compatible” content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<link href="__CSS__/styles.css" rel="stylesheet" />
<script src="__JS__/script.js"></script>
<title></title>
</head>
<body>
<div class="baner">
	<img src="__IMG__/img_hot.jpg"/>
</div>
<div class="wrap wap">
	<div class="baner_title">
    	<p>商道中国·家业传承中的领导学商道中国家业传承中的领导学</p>
        <div class="integral clear">
        	<p>200<span>积分</span></p>
            <input type="submit" value="立即兑换"/>
        </div>
    </div>
</div>
<div class="wrap clear">
	<div class="article">
    	<h3>礼品介绍</h3>
    </div>
    <div class="artic">
    	<p>孙子曰：兵无常势、水无常形，能因敌变化而取胜者，谓之神。</p>
        <p>企业经营无一定之规，但必然有章可循。</p>
        <p>现实中，企业与各级管理者往往面临三大难题：</p>
        <p>1、四处救火、疲于奔命-----部门推诿扯皮，责任不能落地，不知如何提高下属执行力，企业略模糊、组织效率低下；</p>
        <p>2、有令不行、有禁不止------领导忙得要死，下属闲得发慌，不知如何提高自身管理水平，管手段落后、管理意识落伍；</p>
        <p>3、不敢突破、缺少创新------来来回回都是过去的“三板斧”，不知如何提高团队学习能力、人才引进培养遭遇瓶颈。</p>
        <p>作为现代“中国式管理”的发起者与奠基人之一，经营策略与人力资源导师、北大纵横合伙人肖老师，凭借深厚国学功底与扎实西方管理理念，以中西合璧的方式，为企业解读集团管控实战中的“道、法、术、势”，使企业各团队执行力飞跃提升，达到招之即来、来之能战、战之能胜、胜之能久的管控目标。助力发展型企业二次创业，好风借力、直上青云！</p>
    </div>
    <div class="course courses">
    	<p>【课程对象】</p>
        <p>集团董事长、总裁、人力副总、财务副总、营销副总、总裁助理、等高级管理人员</p>
        <p>各部门总监、大区经理以上主要管理干部</p>
    </div>
</div>

</body>
</html>
