<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
       <script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/ew_js.js"></script>
    <link href="__CSS__/style.css" rel="stylesheet" />
	<title></title>
	
</head>
<body style=" background:#f6f6f6;">
	<div class="warp">
	<section id="bg"class="warp">
		<div class="dl"><a href="javascript:history.go(-1)"><</a>代金券查询验证</div>
	</section>
<!------------------------------dl------------------------------------------>
<form action="{:U('Center/yzcoupon')}" method="post" id="tijiao">
    <div class="xs_y">
    <table width="100%">
    <td>券码</td>
    <td><p><input type="text" id="couponid" name="couponid" placeholder="请输入券码"></p></td>
    </table>
    </div>
    <div class="dl_e"><p><a onclick="submitPwdInfo();">立即验证</a></div>
<!------------------------------bottom-------------------------------------->
<script>
function submitPwdInfo(){
	var couponid=$("#couponid").val();
	if(couponid ==''){
		alert('请填写代金券券码', 'couponid');
		$("#couponid").focus();
		return false;
	}
	 $("#tijiao").submit();
}
</script>


</div>
</body>
</html>
