<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
       <script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/ew_js.js"></script>
    <link href="__CSS__/style.css" rel="stylesheet" />
	<title></title>
	
</head>
<body>
	<div class="warp">
	<section id="bg"class="warp">
	</section>
<!------------------------------dl------------------------------------------>
<form action="{:U('center/examine')}" method="post">
<div class="yh_qw">
<div class="yh_q">
<p>提现金额：<input type="text"  name="money" placeholder="￥" ></p>
</div>
<div class="yh_w">
<p>温馨提示：</p>
<p>1、提现金额不能低于"100元"</p>
<p>2、提现金额最高不能超过余额数值</p>
</div>
</div>
<div class="yh">

<p><input type="submit" value="提现"></p>
</form>
</div>
<!------------------------------bottom-------------------------------------->




</div>
</body>
</html>