<include file="Public/header"/>

<body style=" background:#f6f6f6;">
	<div class="warp">
	<section id="bg"class="warp">
		<div class="dl"><a href="javascript:history.go(-1)"></a>销售管理<a href="{:U('User/logout')}">退出</a></div>
	</section>
<!------------------------------dl------------------------------------------>
 <div class="xs">
<div>
<div class="xs_w"><img src="__IMG__/j1.png"></div>
<div class="xs_q"><p>代金券查询验证<span><a href="{:U('Center/qmyz')}"><img src="__IMG__/e6.jpg"></a></span></p></div>
<div class="cls"></div>
</div>
<div>
<div class="xs_w"><img src="__IMG__/j2.png"></div>
<div class="xs_q"><p>代金券扫码验证<span><a href="#"><img src="__IMG__/e6.jpg"></a></span></p></div>
<div class="cls"></div>
</div>
<div>
<div class="xs_w"><img src="__IMG__/j3.png"></div>
<div class="xs_q"><p>代金券验证记录<span><a href="{:U('Center/clistsr')}"><img src="__IMG__/e6.jpg"></a></span></p></div>
<div class="cls"></div>
</div>

</div>
<!------------------------------bottom-------------------------------------->



</div>
</body>
</html>
