@charset "utf-8";
html,
body,
div,
header,
nav,
input,
h1,
h2,
h3,
h4,
img,
p,
a,
span,
i,
em,
article,
textarea,
li,
ul,
button {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
}
img {
  border: 0;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fbf9fe;
}
a {
  text-decoration: none;
}
html,
body {
  overflow-x: hidden;
}
i,
em {
  font-style: normal;
}
.user-wrap {
  width: 100%;
  height: 5.6rem;
  background: url(../images/user-bg.png) no-repeat 100% 100%;
  color: #fff;
}
.user-wrap .user {
  display: -webkit-box;
  padding-top: 1.3rem;
  margin: 0 0.65rem;
}
.user-wrap .user .user-img {
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}
.user-wrap .user .user-img img {
  width: 100%;
  height: 100%;
}
.user-wrap .user .user-info {
  -webkit-box-flex: 1;
  margin-top: 0.45rem;
  padding-left: 1.35rem;
}
.user-wrap .user .user-info p {
  font-size: 0.8rem;
  height: 0.8rem;
  margin-bottom: 0.65rem;
}
.user-wrap .user .user-info span {
  font-size: 0.65rem;
}
.user-wrap .user .user-btn {
  width: 2.5rem;
  line-height: 3rem;
}
.user-wrap .user .user-btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
  color: #fff;
  font-size: 0.625rem;
}
.user-1 {
  padding: 0.65rem 0;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
}
.user-1 .user-1-wrap {
  display: -webkit-box;
}
.user-1 .user-1-wrap div {
  -webkit-box-flex: 1;
}
.user-1 .user-1-wrap div a {
  display: block;
  width: 100%;
  height: 100%;
}
.user-1 .user-1-wrap div p {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  color: #fff;
  font-size: 0.8rem;
}
.user-1 .user-1-wrap div span {
  margin: 0 auto;
  width: 2rem;
  text-align: center;
  display: block;
  margin-top: 0.375rem;
  color: #68706d;
  font-size: 0.55rem;
}
.user-1 .user-1-wrap div:nth-child(1) p {
  background: #4fc6ee;
}
.user-1 .user-1-wrap div:nth-child(2) p {
  background: #f84d44;
  font-size: 1.15rem;
}
.user-1 .user-1-wrap div:nth-child(3) p {
  font-size: 1.15rem;
  background: #ac8bfe;
}
.user-1 .user-1-wrap div:nth-child(4) p {
  background: #3ec4a9;
}
.user-2 {
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  padding: 0 0.5rem;
  background: #fff;
}
.user-2 a {
  display: block;
}
.user-2 .user-2-wrap {
  padding: 0.525rem;
  border-bottom: 1px solid #dcdcdc;
  color: #454a50;
  height: auto;
  font-size: 0.65rem;
  display: -webkit-box;
}
.user-2 .user-2-wrap i {
  display: block;
  -webkit-box-flex: 1;
  padding-left: 0.95rem;
}
.user-2 .user-2-wrap div {
  text-align: right;
  -webkit-box-flex: 1;
  margin-right: 0.825rem;
  color: #a1a1a1;
}
.user-2 .user-2-wrap div img {
  height: 2.85rem;
  width: 2.85rem;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.user-2 .user-2-wrap em {
  display: block;
  text-align: right;
}
.user-2 .user-2-wrap span {
  width: 0.85rem;
  height: auto;
  display: block;
  font-size: 0.85rem;
}
.user-2 .user-2-wrap span img{
	width: 95%;
	height: auto;
}
.user-2 .user-2-wrap .color-hei {
  color: #1f1f1f;
}
.user-2 .user-2-wrap .line-144 {
  margin-top: 1.1rem;
}
.user-2 a:last-child .user-2-wrap {
  border: 0;
}
.input-wrap {
  padding: 0 0.6rem;
  height: 1.7rem;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  background: #fff;
  display: -webkit-box;
  line-height: 1.7rem;
}
.input-wrap input {
  display: block;
  border: 0;
  height: 100%;
  -webkit-box-flex: 1;
  font-size: 0.65rem;
}
.input-wrap em {
  display: block;
  color: #b1b5b8;
  font-size: 1rem;
  height: 1rem;
  position: relative;
  top: -0.075rem;
}
.max-btn {
  border: 0;
  margin: 0 2%;
  display: block;
  border-radius: 5px;
  height: 1.8rem;
  color: #fff;
  width: 96%;
  box-sizing: border-box;
  font-size: 0.65rem;
}
.dizhi-wrap {
  margin-top: 0.4rem;
  border-top: 1px solid #dcdcdc;
  background: #fff;
}
.dizhi-wrap .dizhi-top {
  padding: 0 0.65rem;
  padding-top: 1.05rem;
  padding-bottom: 1.2rem;
  font-size: 0.65rem;
  color: #1f1f1f;
}
.dizhi-wrap .dizhi-top p {
  margin-bottom: 1rem;
}
.dizhi-wrap .dizhi-top p span {
  display: inline-block;
  margin-left: 1.75rem;
}
.dizhi-wrap .dizhi-top p em {
  display: inline-block;
  background: #f52828;
  color: #fff;
  border-radius: 3px;
  padding: 3px 5px;
  margin-left: 0.6rem;
}
.dizhi-wrap .dizhi-bottom {
  border: 1px solid #dcdcdc;
  border-width: 1px 0 1px 0;
  display: -webkit-box;
}
.dizhi-wrap .dizhi-bottom div {
  padding: 0.5rem 0;
  color: #ababab;
  text-align: center;
  -webkit-box-flex: 1;
  font-size: 0.65rem;
  border-left: 1px solid #dcdcdc;
}
.dizhi-wrap .dizhi-bottom div a {
  color: #ababab;
  font-size: 0.65rem;
}
.dizhi-wrap .dizhi-bottom div:first-child {
  border: 0;
}
.dizhi-wrap .dizhi-bottom div:active {
  background: rgba(241, 241, 241, 0.7);
}
.dizhi-wrap:first-child {
  margin: 0;
}
.dizhi-wrap:last-child {
  margin-bottom: 3rem;
}
.dizhi-wrap-btn {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #dcdcdc;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 0.35rem 0;
}
.dizhi-wrap-btn button {
  display: inline-block;
  width: 8.05rem;
}
button:active {
  opacity: .8;
}
.sc-wrap {
  background: #fff;
  margin-top: 0.5rem;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
.sc-wrap .sc-top {
  padding: 0.75rem 0.875rem;
  display: -webkit-box;
  position: relative;
}
.sc-wrap .sc-top img {
  width: 3.4rem;
  height: 3.4rem;
  border: 1px solid #dcdcdc;
}
.sc-wrap .sc-top div {
  -webkit-box-flex: 1;
  margin-left: 0.75rem;
  font-size: 0.65rem;
  color: #1f1f1f;
}
.sc-wrap .sc-top div p {
  width: 100%;
  word-wrap: break-word;
  line-height: 1rem;
  padding-top: 0.125rem;
  color:#333;
}
.sc-wrap .sc-top div span {
  display: block;
  position: absolute;
  bottom: 0;
  line-height: 1.5rem;
  color: #f52828;
}
.sc-wrap .sc-bottom {
  background: #e8edf3;
  padding: 0.55rem 0;
  display: -webkit-box;
}
.sc-wrap .sc-bottom div {
  -webkit-box-flex: 1;
  height: 0.75rem;
  font-size: 0.65rem;
  line-height: 0.75rem;
  border-left: 1px solid #dcdcdc;
}
.sc-wrap .sc-bottom div a,
.sc-wrap .sc-bottom div button {
  font-size: 0.65rem;
  color: #1f1f1f;
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  border: 0;
  text-align: center;
}
.sc-wrap .sc-bottom div:first-child {
  border: 0;
}
.sc-wrap:first-child {
  margin: 0;
}
.you-wrap {
  margin: 0 0.5rem;
  margin-bottom: 0.5rem;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  height: 4.2rem;
  display: -webkit-box;
  overflow: hidden;
}
.you-wrap .you-left {
  width: 4.5rem;
  text-align: center;
  line-height: 4.2rem;
  border-right: 1px dashed #dcdcdc;
  position: relative;
  color: #787878;
}
.you-wrap .you-left span {
}
.you-wrap .you-left img {
  position: absolute;
  width: 0.275rem;
  right: -0.125rem;
  height: 100%;
  display: none;
  top: 0;
}
.you-wrap .you-right {
  -webkit-box-flex: 1;
  padding-left: 0.5rem;
  overflow: hidden;
  position: relative;
}
.you-wrap .you-right p {
  margin-top: 1rem;
  font-size: 0.65rem;
  font-weight: bold;
}
.you-wrap .you-right span {
  color: #787878;
  font-size: 0.5rem;
}
.you-wrap .you-right img {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.075rem;
}
.you-wrap .keyong {
  color: #19b0c6;
}
.you-wrap:first-child {
  margin-top: 0.5rem;
}
.btn-red {
  background: #fe2e44;
}
.mrt-40 {
  margin-top: 1rem;
}
.mrt-30 {
  margin-top: 0.75rem;
}
.mrt-20 {
  margin-top: 0.5rem;
}
.color-hei {
  color: #1f1f1f;
}
.alert-bg {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  z-index: 100;
}
.UI-alert {
  background: #fff;
  height: 5rem;
  position: fixed;
  top: 50%;
  margin-top: -2.3rem;
  left: 2.125rem;
  right: 2.125rem;
  z-index: 101;
  border-radius: 5px;
  overflow: hidden;
}
.UI-alert .alert-content {
  height: 3.2rem;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  line-height: 3.2rem;
  font-size: 0.65rem;
  color: #1f1f1f;
}
.UI-alert .alert-button {
  display: -webkit-box;
  height: 1.75rem;
}
.UI-alert .alert-button div {
  height: 1.75rem;
  -webkit-box-flex: 1;
  border-left: 1px solid #dcdcdc;
}
.UI-alert .alert-button div button {
  border: 0;
  height: 100%;
  background: #fff;
  width: 100%;
  font-size: 0.6rem;
}
.UI-alert .alert-button div .ok {
  color: #0faeff;
}
.UI-alert .alert-button div button:active {
  background: rgba(241, 241, 241, 0.9);
}
.UI-alert .alert-button div:first-child {
  border: 0;
}
.gwc-wrap-header {
  height: 1.8rem;
  width: 100%;
  background: #e4e4e4;
  font-size: 0.6rem;
  line-height: 1.8rem;
  display: -webkit-box;
}
.gwc-wrap-header input {
  display: none;
}
.gwc-wrap-header label {
  display: block;
  -webkit-box-flex: 1;
}
.gwc-wrap-header label span {
  position: relative;
  top: -5px;
  left: 0.75rem;
}
.gwc-wrap-header .icon {
  left: 0.55rem;
  position: relative;
  top: -3px;
  font-size: 1rem;
  color: #f30000;
}
.gwc-wrap-header div {
  -webkit-box-flex: 1;
  text-align: right;
  margin-right: 0.55rem;
  height: 100%;
}
.gwc-wrap-header div button {
  display: block;
  float: right;
  width: 4rem;
  max-width: 100%;
  height: 100%;
  text-align: right;
  font-size: 0.6rem;
  color: #5a5a5a;
  border: 0;
  background: transparent;
}
.gwc-wrap-header div button .iconfont {
  font-size: 0.75rem;
  margin-right: 0.25rem;
}
.color-che {
  color: #f30000 !important;
}
.gwc-wrap {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  float: left;
}
.gwc-wrap label {
  display: block;
  width: 2.05rem;
  text-align: center;
  line-height: 5.05rem;
}
.gwc-wrap label i {
  color: #b4b4b4;
}
.gwc-wrap label input {
  display: none;
}
.gwc-wrap .div {
  padding: 0.65rem 0;
  -webkit-box-flex: 1;
  /*height: 3.7rem;*/
  display: -webkit-box;
}
.gwc-wrap .div .txt {
  padding-right: 1.5rem;
  padding-left: 0.8rem;
  -webkit-box-flex: 1;
  height: 100%;
  position: relative;
}
.gwc-wrap .div .txt p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.65rem;
  color: #1f1f1f;
  line-height: 1rem;
}
.gwc-wrap .div .txt span {
  color: #f30000;
  font-size: 0.65rem;
}
.gwc-wrap .div .txt .jisuan {
  /*position: absolute;*/
  bottom: 0;
  left: 0;
  display: -webkit-box;
  left: 0.8rem;
  height: 1.25rem;
  border: 1px solid #dcdcdc;
  float:left;
  margin-top:10px;
}
.gwc-wrap .div .txt .jisuan i {
  width: 1.25rem;
  height: 1.25rem;
  background: #e4e4e4;
  display: block;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.25rem;
}
.gwc-wrap .div .txt .jisuan input {
  display: block;
  border: 0;
  height: 1.25rem;
  width: 2.1rem;
  text-align: center;
  font-size: 0.65rem;
  line-height: 1.25rem;
}
.gwc-wrap .div .img {
  border: 1px solid #dcdcdc;
  width: 3.65rem;
  height: 3.65rem;
  text-align: center;
}
.gwc-wrap .div .img img {
  max-width: 100%;
  max-height: 100%;
}
.gwc-box {
  width: auto;
  /*height: 5.075rem;*/
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 0.5rem;
  overflow: hidden;
  position: relative;
  transition: margin-left .3s;
  background: #fff;
}
.gwc-box .delete {
  position: absolute;
  border: 0;
  top: 0;
  opacity: 0;
  right: 0;
  float: left;
  display: block;
  width: 2.6rem;
  height: 100%;
  color: #fff;
  background: #fe2e44;
}
.gwc-footer {
  display: -webkit-box;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  padding: 0.3rem 0.5rem;
}
.gwc-footer .left {
  -webkit-box-flex: 1;
}
.gwc-footer .left p {
  margin-bottom: 0.25rem;
  font-size: 0.55rem;
}
.gwc-footer .left p span {
  font-size: 0.65rem;
  color: #f30000;
}
.gwc-footer .left p:last-child {
  margin: 0;
  color: #787878;
}
.gwc-footer .r {
  width: 5.2rem;
}
.gwc-footer .r button {
  margin: 0;
}
.tj-header {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  height: 3.4rem;
  display: -webkit-box;
  overflow: hidden;
}
.tj-header div {
  background: url(../images/bor.png) repeat-y left top;
  background-size: auto 120%;
  -webkit-box-flex: 1;
  padding: 0 0.65rem;
  font-size: 0.65rem;
}
.tj-header div p {
  color: #1f1f1f;
  padding-top: 0.825rem;
  margin-bottom: 0.5rem;
}
.tj-header div p span {
  float: right;
}
.tj-header button {
  padding: 0 0.5rem;
  color: #ababab;
  background: #fff;
  border: 0;
  height: 3.4rem;
}
.tj-title {
  border-top: 1px solid #dcdcdc;
  margin-top: 0.375rem;
  padding: 0.55rem 0.55rem;
  padding-top: 0.25rem;
  font-size: 0.65rem;
  background: #fff;
}
.tj-title .icon {
  color: #e59852;
  margin-right: 0.25rem;
  font-size: 1rem;
}
.tj-wrap {
  padding-bottom: 3rem;
  overflow: hidden;
}
.tj-wrap .tj-cp {
  font-size: 0.65rem;
  padding: 0.55rem;
  display: -webkit-box;
}
.tj-wrap .tj-cp .img {
  background: #fff;
  text-align: center;
  width: 3.65rem;
  height: 3.65rem;
  border: 1px solid #dcdcdc;
}
.tj-wrap .tj-cp .img img {
  max-height: 100%;
  max-width: 100%;
}
.tj-wrap .tj-cp .txt {
  -webkit-box-flex: 1;
  padding: 0 0.8rem;
}
.tj-wrap .tj-cp .txt p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.65rem;
  color: #1f1f1f;
  line-height: 1rem;
}
.tj-wrap .tj-cp .txt i {
  font-size: 0.55rem;
  color: #ababab;
  display: block;
  margin-top: 0.7rem;
}
.tj-wrap .tj-cp .txt span {
  font-size: 0.65rem;
  color: #F30000;
  display: block;
  margin-top: 0.5rem;
}
.tj-txt-box {
  padding: 0 0.55rem;
  background: #fff;
  font-size: 0.65rem;
  margin-bottom: 0.375rem;
}
.tj-txt-box .tj-txt1 {
  display: -webkit-box;
  padding: 0.65rem 0;
  border-bottom: 1px solid #dcdcdc;
  color: #1f1f1f;
}
.tj-txt-box .tj-txt1 span {
  width: 4.5rem;
}
.tj-txt-box .tj-txt1 div {
  -webkit-box-flex: 1;
  text-align: right;
}
.tj-txt-box .tj-txt1 div input {
  width: 100%;
  text-align: right;
  border: 0;
}
.tj-txt-box .tj-txt1 div span {
  margin-left: 1.45rem;
}
.tj-txt-box .tj-txt1 .iconfont {
  display: inline-block;
  padding-left: 0.4rem;
}
.tj-txt-box .tj-txt2 {
  display: -webkit-box;
  padding-bottom: 0.55rem;
  color: #1f1f1f;
}
.tj-txt-box .tj-txt2 span {
  width: 4.5rem;
}
.tj-txt-box .tj-txt2 div {
  -webkit-box-flex: 1;
  text-align: right;
  color: #F30000;
}
.tj-txt-box .tj-txt2:first-child {
  padding-top: 0.55rem;
}
.tj-txt-box .color-hui {
  color: #ababab;
}
.tj-txt-box .color-red {
  color: #F30000;
}
.tj-txt-box .tj-txt1:last-child {
  border: 0;
}
.tj-footer {
  height: 1.75rem;
  line-height: 1.75rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 0.35rem 0.55rem;
  text-align: right;
  font-size: 0.65rem;
}
.tj-footer span {
  margin-right: 0.65rem;
}
.tj-footer span i {
  color: #F30000;
}
.tj-footer button {
  display: inline-block;
  width: 5.2rem;
  margin: 0;
}
.border-top {
  border-top: 1px solid #dcdcdc;
}
.border-bot {
  border-bottom: 1px solid #dcdcdc;
}
.border-tb {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
.select {
  background: #fff;
  position: fixed;
  transition: bottom .5s;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  font-size: 0.65rem;
}
.select .title {
  top: 0;
  height: 1.725rem;
  line-height: 1.725rem;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  z-index: 1;
}
.select .title span {
  position: absolute;
  font-size: 1.025rem;
  top: 0;
  color: #a9a9a9;
  right: 0.5rem;
}
.select .content {
  overflow-y: auto;
}
.dz-input-wrap {
  padding: 0.65rem 0.6rem;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
}
.dz-input-wrap input,
.dz-input-wrap span {
  display: block;
  border: 0;
  -webkit-box-flex: 1;
  outline: none;
  font-size: 0.65rem;
  line-height: 0.75rem;
  height: 0.75rem;
}
.dz-input-wrap div {
  color: #c1c1c1;
  font-size: 0.85rem;
  height: 0.65rem;
  position: relative;
  top: -0.125rem;
}
.dz-input-wrap div label input {
  display: none;
}
.dz-input-wrap .icon {
  position: relative;
  font-size: 1rem;
  top: -0.25rem;
}
.dz-btn {
  background: transparent;
  color: #F30000;
  border: 1px solid #F30000;
}
.select-dz {
  height: 14.7rem;
}
.select-dz .dizhi-zizhi {
  display: -webkit-box;
  border-bottom: 1px solid #dcdcdc;
  height: 1.7rem;
  position: absolute;
  top: 1.75rem;
  left: 0;
  right: 0;
  background: #fff;
}
.select-dz .dizhi-zizhi div {
  width: 33.3333333%;
  text-align: center;
  height: 1.7rem;
  line-height: 1.7rem;
}
.select-dz .dizhi-zizhi .hover {
  border-bottom: 2px solid #F30000;
}
.select-dz .select-dz-wrap {
  margin-top: 1.725rem;
  height: 14.7rem;
  overflow-y: auto;
}
.select-dz .select-dz-wrap li {
  height: 1.625rem;
  line-height: 1.625rem;
  font-size: 0.65rem;
  color: #1f1f1f;
  text-indent: 1.3rem;
}
.select-dz .select-dz-wrap ul {
  display: none;
}
.select-dz .select-dz-wrap .hover {
  background: #e4e4e4;
}
.select-dz .select-dz-wrap ul:first-child {
  display: block;
}
.tj-zhifu,
.tj-youhui,
.tj-zhifu1 {
  padding: 0 0.55rem;
  padding-bottom: 2.2rem;
}
.tj-zhifu .zhifu-wrap,
.tj-youhui .zhifu-wrap,
.tj-zhifu1 .zhifu-wrap {
  display: -webkit-box;
  border-bottom: 1px solid #dcdcdc;
  padding: 0.45rem 0;
}
.tj-zhifu .zhifu-wrap .logo,
.tj-youhui .zhifu-wrap .logo,
.tj-zhifu1 .zhifu-wrap .logo,
.tj-zhifu .zhifu-wrap .iconfont,
.tj-youhui .zhifu-wrap .iconfont,
.tj-zhifu1 .zhifu-wrap .iconfont,
.tj-zhifu .zhifu-wrap .icon,
.tj-youhui .zhifu-wrap .icon,
.tj-zhifu1 .zhifu-wrap .icon {
  display: block;
  width: 1.05rem;
  height: 1.05rem;
}
.tj-zhifu .zhifu-wrap span,
.tj-youhui .zhifu-wrap span,
.tj-zhifu1 .zhifu-wrap span {
  -webkit-box-flex: 1;
  display: block;
  line-height: 1.05rem;
  padding-left: 0.75rem;
}
.tj-zhifu .zhifu-wrap button,
.tj-youhui .zhifu-wrap button,
.tj-zhifu1 .zhifu-wrap button {
  background: transparent;
  border: 0;
}
.tj-youhui,
.tj-zhifu1 {
  padding-bottom: 4.15rem;
}
.tj-youhui label input,
.tj-zhifu1 label input {
  display: none;
}
.tj-youhui label i,
.tj-zhifu1 label i {
  font-size: 0.75rem;
}
.tj-dizhi {
  height: 16.7rem;
}
.tj-dizhi .dizhi-wrap:first-child {
  border-top: 0;
}
.xq-xq-alert {
  position: fixed;
  height: auto;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
}
.xq-xq-alert .close {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  right: 0.375rem;
}
.xq-xq-alert .content {
  padding: 0 0.375rem;
  padding-bottom: 1.1rem;
  border-bottom: 1px solid #dcdcdc;
}
.xq-xq-alert .buttons {
  padding: 0.375rem;
  display: -webkit-box;
}
.xq-xq-alert .buttons div {
  -webkit-box-flex: 1;
}
.xq-xq-alert .xq-alert-wrap {
  display: -webkit-box;
  height: 3.875rem;
  border-bottom: 1px solid #dcdcdc;
  font-size: 0.65rem;
}
.xq-xq-alert .xq-alert-wrap .left {
  width: 5.85rem;
  padding: 0;
  margin: 0;
}
.xq-xq-alert .xq-alert-wrap .left .img {
  width: 4.95rem;
  height: 4.95rem;
  border: 1px solid #dcdcdc;
  text-align: center;
  display: table;
  margin-top: -1.725rem;
  background: #fff;
}
.xq-xq-alert .xq-alert-wrap .left .img div {
  display: table-cell;
  vertical-align: middle;
}
.xq-xq-alert .xq-alert-wrap .left .img img {
  max-width: 100%;
  max-height: 100%;
}
.xq-xq-alert .xq-alert-wrap .left .txt {
  line-height: 3.875rem;
  text-indent: 0.5rem;
}
.xq-xq-alert .xq-alert-wrap .right {
  -webkit-box-flex: 1;
}
.xq-xq-alert .xq-alert-wrap .right p {
  margin-top: 0.25rem;
  text-align: left;
}
.xq-xq-alert .xq-alert-wrap .right p:first-child {
  color: #F30000;
  margin-bottom: 1rem;
}
.xq-xq-alert .xq-alert-wrap .right p:first-child span{
	color: #000;
}
.xq-xq-alert .xq-alert-wrap .right .jisuan {
  margin-top: 1.3rem;
  float: right;
  width: 4.6rem;
  display: -webkit-box;
  left: 0.8rem;
  height: 1.25rem;
  border: 1px solid #dcdcdc;
}
.xq-xq-alert .xq-alert-wrap .right .jisuan i {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.25rem;
}
.xq-xq-alert .xq-alert-wrap .right .jisuan input {
  display: block;
  border: 0;
  height: 1.25rem;
  width: 2.05rem;
  border: 1px solid #dcdcdc;
  border-top: 0;
  border-bottom: 0;
  text-align: center;
  font-size: 0.65rem;
  line-height: 1.25rem;
}
.btn-huang {
  background: #ff8522;
}
.xd-Navigation {
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  height: 1.75rem;
}
.xd-Navigation ul {
  height: 1.75rem;
}
.xd-Navigation ul li {
  float: left;
  width: 20%;
  height: 1.725rem;
  line-height: 1.725rem;
  text-align: center;
}
.xd-Navigation ul li a {
  color: #333;
  font-size: 0.65rem;
  display: inline;
}
.xd-Navigation ul li.hover {
  border-bottom: 2px solid #f41010;
}
.xd-content {
  height: auto;
  margin-top: 0.5rem;
  background: #fff;
  padding: 0 0.5rem;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.xd-content h3 {
  overflow: hidden;
  font-size: 0.55rem;
  font-weight: 100;
  height: 1.625rem;
  line-height: 1.625rem;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.xd-content h3 span {
  float: right;
  color: #ff8522;
}
.xd-content .xd-zongjia {
  height: 2.125rem;
  font-size: 0.6rem;
  line-height: 2.125rem;
  text-align: right;
  border-bottom: 1px solid #dcdcdc;
}
.xd-content .xd-zongjia i {
  color: #f41010;
}
.xd-content .xd-list {
  margin-top: 0.575rem;
  overflow: hidden;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #ccc;
}
.xd-content .xd-list img {
  float: left;
  margin-right: 0.55rem;
  margin-left: 0.125rem;
  width: 3.5rem;
  height: 3.5rem;
}
.xd-content .xd-list ul a {
  color: #1f1f1f;
}
.xd-content .xd-list ul li {
  margin: 0.375rem 0;
  font-size: 0.55rem;
  color: #ababab;
}
.xd-content .xd-list ul li:first-child {
  margin: 0;
  font-size: 0.65rem;
  color: #1f1f1f;
}
.xd-content .xd-list ul li:last-child {
  margin: 0;
  color: #f30000;
}
.xd-content .payment {
  height: 1.825rem;
  overflow: hidden;
}
.xd-content .payment span {
  line-height: 1.825rem;
  font-size: 0.55rem;
  color: #ababab;
}
.xd-content .payment a ,
.xd-content .payment .x-d-span{
  color: #59666e;
  float: right;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  display: inline-block;
  width: 3.875rem;
  height: 1.25rem;
  line-height: 1.375rem;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 0.55rem;
}
.xd-content .payment .x-d-span{
	position: relative;
}
.xd-content .payment a:hover {
  color: #f41010;
  border: 1px solid #f41010;
}
.xd-content .payment .hover {
  color: #f41010;
  border: 1px solid #f41010;
}
.xd-order {
  font-size: 0.55rem;
  background: #fbf9fe;
  height: 1.5rem;
  color: #ababab;
  text-align: center;
  padding-top: 0.5rem;
}
.xd-There {
  width: 100%;
  height: 100%;
  background: #fbf9fe;
}
.xd-There img {
  display: block;
  margin: 3.375rem auto 0;
  width: 50%;
}
.xd-box {
  background: #fbf9fe;
  padding: 0 0.5rem;
}
.xd-box .state {
  color: #1F1F1F;
  font-size: 0.65rem;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #fbf9fe;
}
.xd-box .xd-information {
  width: 100%;
}
.xd-box .xd-information h3 {
  font-size: 0.65rem;
  color: #FFFFFF;
  padding-left: 0.875rem;
  background: #09ba07;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: 100;
}
.xd-box .xd-information table {
  width:100%;
  background: #fff;
  padding-left: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  border: 1px solid #fff;
  box-shadow: 1px 1px 9px #ccc;
}
.xd-box .xd-information table tr {
  margin-top: 0.875rem;
  margin-bottom: 0.75rem;
  font-size: 0.65rem;
  color: #1f1f1f;
}
.xd-box .xd-information table tr td {
  height: 1.5rem;
  line-height: 1.5rem;
}
.xd-box .xd-information table tr td:first-child {
  color: #787878;
  width: 2.125rem;
}
.xd-box .xd-information table tr:last-child td:last-child {
  line-height: 1rem;
}
.xd-box .xd-detailed {
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 9px #ccc;
  background: #fff;
  margin-top: 0.625rem;
}
.xd-box .xd-detailed h3 {
  background: #bebebe;
  font-size: 0.65rem;
  color: #FFFFFF;
  padding-left: 0.875rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: 100;
}
.xd-box .xd-detailed .xd-list {
  padding-left: 0.875rem;
  margin-top: 0.575rem;
  overflow: hidden;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #ccc;
}
.xd-box .xd-detailed .xd-list img {
  float: left;
  margin-right: 0.55rem;
  width: 3.5rem;
  height: 3.5rem;
}
.xd-box .xd-detailed .xd-list ul li {
  margin: 0.375rem 0;
  font-size: 0.55rem;
  color: #ababab;
}
.xd-box .xd-detailed .xd-list ul li a {
  color: #1f1f1f;
}
.xd-box .xd-detailed .xd-list ul li:first-child {
  margin: 0;
  font-size: 0.65rem;
  color: #1f1f1f;
}
.xd-box .xd-detailed .xd-list ul li:last-child {
  margin: 0;
  color: #f30000;
}
.xd-box .xd-detailed .xd-Payment-method {
  padding: 0.625rem 0.7rem 0.625rem 0.875rem;
}
.xd-box .xd-detailed .xd-Payment-method ul {
  padding-bottom: 0.375rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.625rem;
}
.xd-box .xd-detailed .xd-Payment-method ul li {
  height: 1.25rem;
  line-height: 1.25rem;
  width: 100%;
  font-size: 0.55rem;
  color: #1f1f1f;
  overflow: hidden;
}
.xd-box .xd-detailed .xd-Payment-method ul li span {
  float: right;
}
.xd-box .xd-detailed .xd-Payment-method ul .xd-bac {
  color: #f30000;
}
.xd-box .xd-detailed .xd-Payment-method p {
  font-size: 0.55rem;
  color: #1f1f1f;
  height: 1rem;
  line-height: 1rem;
}
.xd-button {
  margin-top: 0.625rem;
  background: #fff;
  height: 1.75rem;
  border-top: 1px solid #CCCCCC;
  padding-top: 0.5rem;
}
.xd-button .xd-button-1 {
  height: 2.25rem;
  width: 11rem;
  margin: 0 auto;
  position: relative;
}
.xd-button .xd-button-1 a {
  font-size: 0.65rem;
  color: #ccc;
  display: inline-block;
  width: 4.85rem;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin-left: 0.3rem;
  background: #fff;
}
.xd-button .xd-button-1 a:hover {
  border: 1px solid #f30000;
  outline: none;
  color: #f30000;
}
.xd-button .xd-button-1 .hover {
  border: 1px solid #f30000;
  outline: none;
  color: #f30000;
}
.alert-bg {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  z-index: 100;
}
.alert {
  background: #fff;
  height: 4.6rem;
  position: fixed;
  top: 50%;
  margin-top: -2.3rem;
  left: 2.125rem;
  right: 2.125rem;
  z-index: 101;
  border-radius: 5px;
  overflow: hidden;
}
.alert .content {
  height: 3.2rem;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  line-height: 3.2rem;
  font-size: 0.65rem;
  color: #1f1f1f;
}
.alert .button {
  display: -webkit-box;
  height: 1.375rem;
}
.alert .button div {
  height: 1.375rem;
  -webkit-box-flex: 1;
  border-left: 1px solid #dcdcdc;
}
.alert .button div button {
  border: 0;
  height: 100%;
  background: #fff;
  width: 100%;
  font-size: 0.6rem;
}
.alert .button div .ok {
  color: #0faeff;
}
.alert .button div button:active {
  background: rgba(241, 241, 241, 0.9);
}
.alert .button div:first-child {
  border: 0;
}
.xd-product-box {
  background: #fff;
}
.xd-product {
  padding-top: 3rem;
  padding-bottom: 2.875rem;
  background: #fff;
}
.xd-product img {
  display: -webkit-box;
  /*width: 12.2rem;*/
  max-width: 100%;
  height: 9.5rem;
  margin: 0 auto;
}
.xd-border {
  margin-top: 0.25rem;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
.xd-Price {
  padding-left: 0.45rem;
  background: #fff;
  padding-top: 0.875rem;
  overflow: hidden;
}
.xd-Price .xd-product-left {
  float: left;
  padding-right: 1.25rem;
  width: 12rem;
  height: 1.55rem;
  margin-right: 0.5rem;
  border-right: 1px solid #CCCCCC;
  font-size: 0.65rem;
  color: #101010;
}
.xd-Price .xd-product-right {
  margin-top: 0.125rem;
  float: left;
  text-align: center;
  font-size: 0.5rem;
}
.xd-Price .xd-product-right em {
  font-size: 0.75rem;
  margin-left: 0.25rem;
}
.xd-Price p {
  float: left;
  font-size: 0.75rem;
  color: #f30000;
  height: 2rem;
  line-height: 2rem;
}
.xd-number {
  padding-left: 0.45rem;
  background: #fff;
  height: 1.75rem;
  line-height: 1.75rem;
}
.xd-number span {
  font-size: 0.65rem;
  color: #101010;
}
.xd-number em {
  float: right;
  margin-right: 0.5rem;
  font-size: 0.65rem;
}
.xd-tab {
  width: 100%;
  height: 1.75rem;
  line-height: 1.75rem;
  background: #fff;
}
.xd-tab ul {
  overflow: hidden;
  display: -moz-box;
  display: -webkit-box;
}
.xd-tab ul li {
  text-align: center;
  font-size: 0.65rem;
  -webkit-box-flex: 1;
}
.xd-tab ul .active {
  border-bottom: 2px solid #f41010;
  color: #f41010;
}
.xd-tab div {
  background: #fff;
  width: 100%;
}
.xd-tab div img{
	width: 100%;
} 
.xd-tab div .xd-There-comment img {
  width: 20%;
  display: -webkit-box;
  margin: 0 auto;
}
.xd-tab div .img {
  height: 0.65rem;
  width: auto;
  display: inline;
}
.xd-purchase {
  margin-top: 0.25rem;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 2.5rem;
  line-height: 2.375rem;
  border-top: 1px solid #CCCCCC;
  font-size: 0.65rem;
  background: #fff;
}
.xd-purchase a {
  height: 1.75rem;
  line-height: 1.75rem;
  display: inline-block;
  margin-left: 0.375rem;
  text-align: center;
  border-radius: 4px;
}
.xd-purchase .xd-purchase-1 {
	position: relative;
  margin-right: 0.075rem;
  width: 3.625rem;
  background: #fbf9fe;
  border: 1px solid #CCCCCC;
  color: #3c3c3c;
}
.xd-purchase .xd-purchase-1 i {
  color: #3c3c3c;
  font-size: 0.75rem;
  margin-right: 0.125rem;
  position: relative;
}
.xd-purchase .xd-purchase-1 em{
  position: absolute;
  right:2px;
  top:2px;
  background: red;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  color: #fff;
  font-size:10px;
  line-height: 12px;
  /*text-align: center;*/
	padding: 1px 2px 1px 3px;
  /*transform:scale(0.8);
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8);
  -ms-transform:scale(0.8);*/


}



.xd-purchase .xd-purchase-2 {
  background: #ff8522;
  width: 4.75rem;
  color: #fff;
}
.xd-purchase .xd-purchase-3 {
  margin-right: 0.5rem;
  color: #fff;
  background: #fe2e44;
  width: 4.75rem;
}
.xd-Price {
  padding-left: 0.45rem;
  background: #fff;
  padding-top: 0.875rem;
  overflow: hidden;
}
.xd-Price .xd-product-left {
  -webkit-box-flex: 1;
  float: left;
  padding-right: 1.25rem;
  width: 11.25rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-right: 1px solid #CCCCCC;
  font-size: 0.65rem;
  color: #101010;
}
.xd-Price .xd-product-color {
  margin-top: 0.125rem;
  margin-right: 0.25rem;
  float: left;
  color: #f41010;
  text-align: center;
  font-size: 0.5rem;
}
.xd-Price .xd-product-color em {
  font-size: 0.75rem;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
}
.xd-Price p {
  float: left;
  font-size: 0.75rem;
  color: #f30000;
  height: 2rem;
  line-height: 3rem;
}
.xd-tab-div {
  display: none;
}
.xd-tab-div .xd-evaluate {
  padding: 0.125rem 0 0.625rem 0;
  background: #fbf9fe;
  overflow: hidden;
  display: -moz-box;
  display: -webkit-box;
}
.xd-tab-div .xd-evaluate a {
  border-radius: 15px;
  border: 1px solid #CCCCCC;
  display: block;
  height: 1.125rem;
  background: #fff;
  color: #626262;
  line-height: 1.125rem;
  -webkit-box-flex: 1;
  font-size: 0.55rem;
  text-align: center;
  margin: 0 0.25rem;
}
.xd-tab-div .xd-evaluate .xd-evaluate-bg {
  background: #f41010;
  color: #fff;
}
.xd-tab-div .xd-xq-pinglun {
  display: block;
  padding: 0 0.65rem;
}
.xd-tab-div .xd-xq-pinglun li {
  width: 100%;
  padding: 0.65rem 0;
  border-bottom: 1px solid #dcdcdc;
}
.xd-tab-div .xd-xq-pinglun li p {
  width: 100%;
  font-size: 0.65rem;
  text-align: left;
  position: relative;
}
.xd-tab-div .xd-xq-pinglun li p span {
  float: right;
}
.xd-tab-div .xd-xq-pinglun li i {
  display: block;
  text-align: left;
  font-style: normal;
  font-size: 0.55rem;
  color: #ababab;
}
.xd-tab-div {
  padding-bottom: 5rem;
  margin-bottom: 3.75rem;
}
.xd-tab-div .xd-tab-div-ul {
  padding: 0 0.5rem;
  display: block;
}
.xd-tab-div .xd-tab-div-ul li {
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.65rem;
  text-align: left;
  border-bottom: 1px solid #CCCCCC;
}
.xd-tab-div .xd-tab-div-ul li p {
  text-align: right;
}
.xd-tab-div .xd-tab-div-ul li:last-child {
  border: none;
}
.xd-There-comment {
  margin: 0 auto;
  text-align: center;
  height: 13rem;
  padding-top: 2.5rem;
}
.xd-There-comment span {
  font-size: 0.6rem;
  text-align: center;
  display: block;
  color: #b5b5b5;
}
.xd-tab-ul {
  margin-bottom: 0.5rem;
  width: 100%;
  z-index: 10;
  background: #fff;
}
#w_header {
  width: 100%;
  padding-top: 0.525rem;
  padding-bottom: 0.575rem;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 0.5rem;
  background-color: #FFFFFF;
}
#w_header .w_header_main {
  padding-left: 0.325rem;
}
#w_header .w_header_main img {
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid #E0E0E0;
  float: left;
}
#w_header .w_header_main .w_info {
  display: inline-block;
  width: 10.25rem;
  height: 2.625rem;
  margin-left: 0.7rem;
  float: left;
}
#w_header .w_header_main .w_info a {
  display: block;
  font-size: 0.55rem;
  color: #000000;
  height: 1.875rem;
  line-height: 0.65rem;
  overflow: hidden;
}
#w_header .w_header_main .w_info span {
  display: block;
  height: 0.5rem;
  font-size: 0.65rem;
  color: #f30000;
}
#w_header .w_header_main_2 {
  padding-left: 0.325rem;
}
#w_header .w_header_main_2 p {
  color: #969696;
  font-size: 0.55rem;
  padding-bottom: 0.6rem;
}
#w_header .w_header_main_2 p span {
  color: #1f1f1f;
  font-size: 0.55rem;
}
#w_article {
  width: 13.2rem;
  margin: 0 auto;
  margin-top: 0.4rem;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  border: 1px solid #E0E0E0;
  padding-top: 0.65rem;
  background-color: #FFFFFF;
}
#w_article .w_title {
  display: -webkit-flex;
  width: 100%;
  padding-bottom: 0.625rem;
}
#w_article .w_title span {
  -webkit-flex: 1;
  font-size: 0.65rem;
}
#w_article .w_title span:last-child {
  -webkit-flex: 5;
}
#w_article .w_title span:last-child em {
  color: #F41010;
  font-size: 0.575rem;
}
#w_article textarea {
  resize: none;
  width: 12.25rem;
  height: 5.35rem;
  border: 1px solid #E0E0E0;
  font-size: 0.5rem;
  color: #959595;
  padding-top: 0.45rem;
  padding-left: 0.425rem;
  padding-right: 0.425rem;
  line-height: 0.75rem;
  outline-style: none;
  border-top: 1px solid #E0E0E0;
}
#w_article .w_title_2 {
  padding-bottom: 0.475rem;
}
#w_article .w_title_2 span {
  display: block;
  font-size: 0.65rem;
  float: left;
  height: 0.75rem;
  line-height: 0.75rem;
}
#w_article .w_title_2 .w_title_2_1 {
  color: #959595;
  font-size: 0.5rem;
}
#w_article .w_uploadImg {
  width: 12.25rem;
  display: -webkit-flex;
  padding-bottom: 0.675rem;
}
#w_article .w_uploadImg li {
  -webkit-flex: 1;
  background-color: #FFFFFF;
  position: relative;
}
#w_article .w_uploadImg li img {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  background-color: #FFFFFF;
}
#w_article .w_uploadImg li .w_input_parent {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  overflow: hidden;
}
#w_article .w_uploadImg li .w_input_parent input {
  display: block;
  position: absolute;
  width: 3.6rem;
  height: 3.6rem;
  opacity: 0;
  z-index: 123;
}
#w_article .w_uploadImg li .w_uploadFileImg {
  display: block;
  border: 1px solid #E0E0E0;
  position: absolute;
  width: 3.6rem;
  height: 3.6rem;
  background-color: #FFFFFF;
  color: #959595;
  text-align: center;
  line-height: 3.25rem;
  font-size: 2.25rem;
}
.button {
  display: block;
  margin: 0 auto;
  outline-style: none;
  border-style: none;
  background-color: #09ba07;
  color: #fff;
  font-size: 0.65rem;
  width: 13.6rem;
  height: 1.725rem;
  border-radius: 0.25rem;
  margin-top: 0.925rem;
}
.w_content {
  width: 100%;
  margin-top: 0.925rem;
}
.w_content ul {
  padding-right: 0.65rem;
  padding-left: 0.65rem;
  padding-bottom: 0.65rem;
  border-bottom: 1px solid #E0E0E0;
}
.w_content ul li {
  display: block;
  padding-bottom: 0.625rem;
  border-left: 1px solid #0faeff;
  position: relative;
  width: 100%;
}
.w_content ul li div {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 1px solid #0FAEFF;
  position: absolute;
  top: -0.375rem;
  left: -0.45rem;
  background-color: #FFFFFF;
}
.w_content ul li div div {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #0FAEFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.29411764705882354rem;
  margin-top: -0.29411764705882354rem;
}
.w_content ul li p {
  color: #1f1f1f;
  font-size: 0.55rem;
  margin-bottom: 0.5rem;
  text-indent: 0.875rem;
  overflow: hidden;
}
.w_content ul li:first-child div {
  border: 1px solid #c81622;
}
.w_content ul li:first-child div div {
  background-color: #C81622;
}
.w_content ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0.625rem;
}
.w_title {
  display: -webkit-flex;
  width: 100%;
  padding-bottom: 0.425rem;
  background-color: #FFFFFF;
}
.w_title a {
  -webkit-flex: 1;
  height: 1.725rem;
  border-bottom: 1px solid #e4e4e4;
  font-size: 0.6rem;
  color: #5a5a5a;
  text-align: center;
  line-height: 1.725rem;
  background-color: #E4E4E4;
}
.w_title .w_nowList {
  background-color: #FFFFFF;
}
#w_newsList {
  padding-top: 0.65rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #FFFFFF;
  border-top: 1px solid #E0E0E0;
}
#w_newsList ul {
  width: 100%;
}
#w_newsList ul li {
  width: 100%;
  padding-bottom: 0.725rem;
  border-bottom: 1px solid #e7e7e8;
  margin-bottom: 0.7rem;
}
#w_newsList ul li h5 {
  display: block;
  font-size: 0.6rem;
  color: #1F1F1F;
  font-style: normal;
  margin: 0;
  padding-bottom: 0.55rem;
}
#w_newsList ul li h5 i {
  font-style: normal;
  font-size: 0.75rem;
  padding-right: 0.3rem;
}
#w_newsList ul li p {
  display: block;
  font-size: 0.55rem;
  color: #787878;
  padding-bottom: 0.55rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
#w_newsList ul li p:last-child {
  padding: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
#w_newsShow {
  margin-top: 0.95rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#w_newsShow header {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0.8rem;
}
#w_newsShow header h5 {
  display: block;
  margin: 0;
  padding: 0;
  font-style: normal;
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
  color: #1F1F1F;
}
#w_newsShow header span {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 0.55rem;
  color: #888888;
}
#w_newsShow header .w_newsShowT-1 {
  padding-left: 0.875rem;
}
#w_newsShow .w_content {
  width: 100%;
  padding-bottom: 2rem;
}
#w_newsShow .w_content p {
  font-size: 0.65rem;
  color: #787878;
  line-height: 1.075rem;
}
#w_caseTitle {
  display: block;
  height: 1.725rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #E4E4E4;
}
#w_caseTitle form {
  height: 1.725rem;
  line-height: 1.725rem;
  display: -webkit-flex;
  position: relative;
}
#w_caseTitle form input[type=submit] {
  display: block;
  border-style: none;
  outline-style: none;
  -webkit-flex: 1;
  font-size: 0.6rem;
  color: #5A5A5A;
  height: 1.725rem;
  background-color: transparent;
  text-align: center;
}
#w_caseTitle input[type=text] {
  height: 1.175rem;
  border-style: none;
  -webkit-flex: 5;
  background-color: #FFFFFF;
  border-radius: 0.625rem;
  font-size: 0.5rem;
  color: #838383;
  text-indent: 1.375rem;
  margin-top: 0.25rem;
}
#w_caseTitle i {
  font-style: normal;
  font-size: 0.75rem;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0.5rem;
}
#w_caseClass {
  padding-bottom: 0.4rem;
  display: block;
  background-color: #fbf9fe;
}
#w_caseClass .w_caseClass_list {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.275rem;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 0.65rem;
  border-top: 1px solid #e3e3e3;
  padding-bottom: 0.65rem;
  background-color: #FFFFFF;
}
#w_caseClass .w_caseClass_list:last-child{
	margin-bottom: 2.5rem;
}
#w_caseClass .w_caseClass_list .w_caseClassImg {
  width: 3rem;
  height: 3rem;
  position: relative;
  float: left;
}
#w_caseClass .w_caseClass_list .w_caseClassImg img {
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}
#w_caseClass .w_caseClass_list .w_caseClassImg h5 {
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  z-index: 1;
  text-align: center;
  font-size: 0.75rem;
  line-height: 3rem;
  top: 0;
  left: 0;
  margin: 0;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}
#w_caseClass .w_caseClass_list .w_caseClassList {
  float: right;
  width: 11rem;
  
}
#w_caseClass .w_caseClass_list .w_caseClassList li {
  width: 2.5rem;
  height: 0.8rem;
  float: left;
  margin-right: 0.25rem;
  margin-bottom: 0.375rem;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
}
#w_caseClass .w_caseClass_list .w_caseClassList li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.5rem;
  color: #5A5A5A;
  text-align: center;
  line-height: 0.8rem;
}
#w_caseClass .clear {
  margin-bottom: 0;
}
#w_footer {
	z-index: 2;
  width: 100%;
  height: 2.45rem;
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
  border-top: 2px solid #ececec;
}
#w_footer .w_footerNav {
  width: 100%;
  height: 1.55rem;
  display: -webkit-flex;
  margin-top: 0.375rem;
}
#w_footer .w_footerNav li {
  -webkit-flex: 1;
  height: 1.55rem;
  border-right: 1px solid #dedede;
  position: relative;
}
#w_footer .w_footerNav li a {
  width: 2.55rem;
  height: 1.55rem;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -0.25rem;
  text-align: center;
}
#w_footer .w_footerNav li a p {
  color: #484848;
  font-size: 0.5rem;
}
#w_footer .w_footerNav li a .iconfont2 {
  height: 1.45rem;
  line-height: 1.3rem;
  font-size: 1rem;
}
#w_footer .w_footerNav li .w_nowColl p {
  color: #C81622;
}
#w_banner {
  width: 100%;
  height: 7.3rem;
  background-color: #ffffff;
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden;
  position: relative;
}
#w_banner div img {
  width: 100%;
  height: 100%;
}
#w_homeNav {
  padding-top: 0.675rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #e7e7e8;
  background-color: #fdfcff;
  margin-bottom: 0.3rem;
}
#w_homeNav .w_homeNav_1 {
  padding-left: 0.675rem;
  padding-right: 0.675rem;
  display: -webkit-flex;
}
#w_homeNav .w_homeNav_1 li {
  -webkit-flex: 1;
}
#w_homeNav .w_homeNav_1 li a {
  width: 2.05rem;
  height: 2.25rem;
  display: block;
  margin: 0 auto;
  color: #1f1f1f;
}
#w_homeNav .w_homeNav_1 li a div {
  width: 1.475rem;
  height: 1.5rem;
  margin: 0 auto;
}
#w_homeNav .w_homeNav_1 li a div img {
  display: block;
  width: 1.475rem;
  height: 1.5rem;
}
#w_homeNav .w_homeNav_1 li a p {
  margin-top: 0.25rem;
  font-size: 0.5rem;
  color: #1f1f1f;
  text-align: center;
}
#w_homeNav .w_homeNav_2 {
  padding-left: 0.675rem;
  padding-right: 0.675rem;
  margin-top: 0.75rem;
  display: -webkit-flex;
}
#w_homeNav .w_homeNav_2 li {
  -webkit-flex: 1;
}
#w_homeNav .w_homeNav_2 li a {
  width: 2.05rem;
  height: 2.25rem;
  display: block;
  margin: 0 auto;
}
#w_homeNav .w_homeNav_2 li a div {
  width: 1.475rem;
  height: 1.5rem;
  margin: 0 auto;
}
#w_homeNav .w_homeNav_2 li a div img {
  display: block;
  width: 1.475rem;
  height: 1.5rem;
}
#w_homeNav .w_homeNav_2 li a p {
  margin-top: 0.25rem;
  font-size: 0.5rem;
  color: #1f1f1f;
  text-align: center;
}
.w_homeNews {
  margin-top: 0.3rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}
.w_homeNews .w_homeNewsTitle {
  height: 1.75rem;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  overflow: hidden;
  display: -webkit-flex;
}
.w_homeNews .w_homeNewsTitle h5 {
  height: 1.75rem;
  text-indent: 0.5rem;
  line-height: 1.75rem;
  width: 4.75rem;
  background-color: #c81622;
  color: #FFFFEF;
  font-size: 0.75rem;
  position: relative;
  -webkit-flex: 1;
  overflow: hidden;
  margin: 0;
}
.w_homeNews .w_homeNewsTitle h5:after {
  content: "";
  display: block;
  position: absolute;
  border: 0.9rem solid #FFFFFF;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: 0;
  right: -0.025rem;
}
.w_homeNews .w_homeNewsTitle p {
  -webkit-flex: 2;
  color: #686868;
  font-size: 0.6rem;
  height: 1.75rem;
  line-height: 1.75rem;
  text-indent: 0.25rem;
  position: relative;
  background-color: #FFFFFF;
}
.w_homeNews .w_homeNewsTitle p span{
	height: 1.75rem;
	line-height: 1.75rem;
	display: block;
	background-color: #FFFFFF;
	font-size:12px;
	color: #333;
}
.w_homeNews .w_homeNewsMain {
  margin-top: 0.325rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.75rem;
  background-color: #FFFFFF;
  display: -webkit-flex;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainLeft {
  -webkit-flex: 2;
  background-color: #FFFFFF;
  border-right: 1px solid #e8e8e8;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainLeft p {
  font-size: 0.65rem;
  color: #5A5A5A;
  margin-top: 0.25rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainLeft p:first-child {
  margin-top: 0;
  margin-bottom: 0.375rem;
  font-size: 0.55rem;
  color: #f30000;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainLeft .w_homeNewsMainLeftImg {
  width: 3.85rem;
  height: 3.85rem;
  margin: 0 auto;
  margin-top: 0.25rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainLeft .w_homeNewsMainLeftImg img {
  display: block;
  width: 3.85rem;
  height: 3.85rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight {
  -webkit-flex: 3.2;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightTop {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  display: -webkit-flex;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 0.5rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightTop div:first-child {
  -webkit-flex: 6;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightTop div:first-child p {
  font-size: 0.65rem;
  color: #5A5A5A;
  margin-top: 0.25rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightTop div:first-child p:first-child {
  margin-top: 0;
  margin-bottom: 0.375rem;
  font-size: 0.55rem;
  color: #f30000;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightTop div:last-child {
  -webkit-flex: 3;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightTop div:last-child img {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom {
  display: -webkit-flex;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:first-child {
  -webkit-flex: 1;
  padding-left: 0.25rem;
  border-right: 1px solid #E8E8E8;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:first-child p {
  font-size: 0.4rem;
  color: #5A5A5A;
  margin-top: 0.25rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:first-child p:first-child {
  font-size: 0.5rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:first-child div {
  width: 2.1rem;
  height: 2.1rem;
  margin: 0 auto;
  padding-bottom: 0.325rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:first-child div img {
  width: 2.1rem;
  height: 2.1rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:last-child {
  -webkit-flex: 1;
  padding-left: 0.25rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:last-child p {
  font-size: 0.4rem;
  color: #5A5A5A;
  margin-top: 0.25rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:last-child p:first-child {
  font-size: 0.5rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:last-child div {
  width: 2.1rem;
  height: 2.1rem;
  margin: 0 auto;
  padding-bottom: 0.325rem;
}
.w_homeNews .w_homeNewsMain .w_homeNewsMainRight .w_homeNewsMainRightBottom div:last-child div img {
  width: 2.1rem;
  height: 2.1rem;
}
.w_goodsList {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #fbf9fe;
}
.w_goodsList .w_goodsListTitle {
  height: 1.25rem;
  background-color: #ffffff;
  display: -webkit-flex;
  margin-top: 0.325rem;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-left: 2px solid #c81622;
}
.w_goodsList .w_goodsListTitle h5 {
  display: block;
  -webkit-flex: 3;
  font-size: 0.8rem;
  color: #C81622;
  margin: 0;
  height: 1.25rem;
  line-height: 1.25rem;
  text-indent: 0.375rem;
}
.w_goodsList .w_goodsListTitle a {
  height: 1.25rem;
  -webkit-flex: 1;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.5rem;
  color: #5A5A5A;
  text-align: right;
  padding-right: 0.375rem;
}
.w_goodsList .w_goodsListMain {
  padding-bottom: 2.45rem;
}
.w_goodsList .w_goodsListMain .w_goodsListShow {
  border: 1px solid #E0E0E0;
  background-color: #FFFFFF;
  width: 46%;
  height: 10.2rem;
  display: block;
  margin-top: 0.25rem;
  margin-left: 0.35rem;
  padding-top: 0.5rem;
  float: left;
}
.w_goodsList .w_goodsListMain .w_goodsListShow div {
  width: 6.075rem;
  height: 6.075rem;
  margin: 0 auto;
}
.w_goodsList .w_goodsListMain .w_goodsListShow div img {
  width: 6.075rem;
  height: 6.075rem;
}
.w_goodsList .w_goodsListMain .w_goodsListShow p {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.55rem;
  margin-top: 1rem;
  color: #5A5A5A;
  height: 1.8rem;
  line-height: 0.65rem;
  overflow: hidden;
}
.w_goodsList .w_goodsListMain .w_goodsListShow p:last-child {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: #F30000;
}
.w_goodsList .w_goodsListMain .Margin {
  float: left;
}
#w_caseNav {
  display: -webkit-flex;
  height: 1.725rem;
  position: relative;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
#w_caseNav div {
  -webkit-flex: 1;
  font-size: 0.6rem;
  color: #5A5A5A;
  height: 0.725rem;
  text-align: center;
  border-right: 1px solid #E0E0E0;
  margin-top: 0.5rem;
  position: relative;
}
#w_caseNav div i {
  font-size: 0.5rem;
}
#w_caseNav div a {
	color: #5a5a5a;
}
#w_caseNav div .iconfont2 {
  position: relative;
  top: -0.05rem;
  left: 0.25rem;
  color: #717171;
}
#w_caseNav div .w_Top {
  position: absolute;
  top: -0.05rem;
  left: 3rem;
}
#w_caseNav div .now{
	color: #fe2e44 !important;
}
#w_caseNav div .w_Bottom {
  position: absolute;
  top: 0.2rem;
  left: 3rem;
}
#w_caseNav .w_ClassParent .w_Class {
  display: block;
  position: absolute;
  top: 1.25rem;
  overflow: hidden;
  width: 4rem;
  left: 0;
  height: 0;
  z-index: 123;
  transition: all .5s;
}
#w_caseNav .w_ClassParent .w_Class li {
  display: block;
}
#w_caseNav .w_ClassParent .w_Class li a {
  color: #5A5A5A;
  font-size: 0.55rem;
  border-bottom: 1px solid #E0E0E0;
  display: block;
  padding-left: 0.75rem;
  width: 4.75rem;
  background-color: #FFFFFF;
  line-height: 1.25rem;
  text-align: left;
}
#w_caseNav .w_hover {
  color: #fe2e44;
}
#w_caseNav .w_hover i {
  color: #fe2e44;
}
#w_caseNav .w_Under {
  width: 100%;
  background-color: #FFFFFF;
  opacity: 0;
  position: absolute;
  z-index: 123;
  top: 1.75rem;
  left: 0;
  height: 0;
  transition: all .5s;
  display: none;
}
#w_caseNav .w_Under li {
  display: block;
  border-bottom: 1px solid #E0E0E0;
  background-color: #FFFFFF;
}
#w_caseNav .w_Under li a {
  display: block;
  width: 100%;
  height: 1.25rem;
  font-size: 0.55rem;
  color: #5a5a5a;
  text-align: center;
  line-height: 1.25rem;
}
#w_caseList {
  margin-top: 0.3rem;
  border-top: 1px solid #E0E0E0;
  background: #fff;
  /*text-align: center;*/
}
#w_caseList li {
  height: 5rem;
  margin-bottom: 0.25rem;
  background-color: #FFFFFF;
}
#w_caseList li:last-child{
	margin-bottom: 2.3rem;
}
#w_caseList li img {
  display: block;
  width: 4.35rem;
  height: 4.35rem;
  margin: 0.375rem auto;
  background-color: #f6f6f6;
}
#w_caseList li div {
  width: 9.6rem;
  height: 5rem;
  border-bottom: 1px solid #E0E0E0;
  float: left;
}
#w_caseList li div p {
  font-size: 0.7rem;
  color: #f30000;
}
#w_caseList li div p:first-child {
  font-size: 0.57rem;
  color: #5a5a5a;
  margin-top: 0.25rem;
  padding-bottom: 0.25rem;
}
#w_caseList li div p:last-child {
  font-size: 0.55rem;
  color: #838383;
}
#w_caseList li div:first-child {
  width: 5rem;
  height: 5rem;
  background-color: #f6f6f6;
  margin-right: 0.875rem;
  float: left;
}
#w_load {
  width: 100%;
  border-top: 1px solid #E0E0E0;
  height: 2.075rem;
  background-color: #fbf9fe;
  margin-top: 0.5rem;
  text-align: center;
  color: #ababab;
  font-size: 0.55rem;
  line-height: 2rem;
}
.w_homeMao {
  width: 4.5rem;
  height: 4.5rem;
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 3;
}
.w_homeMao div:first-child {
 
  border-radius: 2.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  display:none;
}
.w_homeMao div:first-child i {
  display: block;
  font-size: 1.125rem;
  padding-top: 0.075rem;
  color: #FFFFFF !important;
}
.w_homeMao div:first-child a {
  display: block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
	padding: 0.1rem;
  font-size: 0.45rem;
  color: #FFFFFF;
}
.w_homeMao div:first-child a i{
	display: block;
	text-align: center;
	font-size: 1.1rem;
	padding: 0;
	margin: 0;
}
.w_homeMao div:first-child p{
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
}
.w_homeMao div:last-child {
  width: 2rem;
  /*height: 4.5rem;*/
 	padding: 0.5rem 0;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  /*padding-top: 0.5rem;*/
  right: 0;
  bottom: 0;
  text-align: center;
}
.w_homeMao div:last-child i {
  display: block;
  font-size: 1.125rem;
  /*padding-top: 0.375rem;*/
  color: #FFFFFF !important;
}
.w_homeMao div:last-child a {
	margin: 0;
	z-index: 1;
	/*margin-top: 0.4rem;*/
  display: block;
  /*height: 0.375rem;*/
  font-size: 0.45rem;
  color: #FFFFFF;
}
.w_homeMao div:last-child a:last-child{
	/*margin-top: 0.6rem;*/
}
/*# sourceMappingURL=style.css.map */
.order_mes{
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}
.xg-pingfen{
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	background-color: #fff;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}
.xg-pingfen span{
	font-size: 0.8rem;
}
.xg-pingfen i{
	font-size: 1rem;
}
.xg-pingfen .i{
	color: #C00;
}
.dingdan{
	font-size: 0.6rem; 
	text-align: center;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	background-color: #fff;
	color: #666666;
	overflow: hidden;
}
.order_mes textarea{
	resize: none;
	display: block;
	margin: 0 auto;
	margin-top: 0.4rem;
	padding: 0.4rem;
	width: 100%;
	height: 6rem;
	border: 1px solid #dcdcdc;
	border-left: none;
	border-right: none;
}
.sqth{
	float: right;
	display: block;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	border-radius: 5px;
	height: 1.3rem;
	line-height: 1.3rem;
	border: 1px solid #dddddd;
}
.w_homeMao div:last-child .w_homeMao-a{
	/*position: absolute;*/
	left: 25%;
	bottom: 0.2rem;
	display: block;
	text-align: center;
}



.order-o-value{
  font-size:12px;
  color:#888484;
  margin:5px 0;
}

.order-o-value em{
  border:1px solid #ccc;
  display:inline-block;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  padding:3px 5px;
  margin-right:5px;
}


.order-o-price{
  font-size:14px;
}


.order_sus{
  text-align:center;
}

.order_sus .info{
  font-size:18px;
  color:#35AA47;
  margin:20px 0;
  margin-top:120px;
}

.order_sus .link{

}


.order_sus .link a{
  display:inline-block;
  padding:5px 20px;
  font-size:14px;
  border:1px solid #35AA47;
  color:#333;
  border-radius:0 5px 5px 0;
}

.order_sus .link a:first-child{
  background:#35AA47;
  color:#fff;
  border-radius:5px 0 0 5px;
}
.xd-box .x-ly{
	margin-top: .2rem;
}
.xd-box .x-ly h3{
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
}
.xd-box .x-ly h3 span{
	color: #666;
	font-size: .55rem;
}
.xd-box .x-ly h3 input{
	border: none;
	height: 1rem;
	line-height: 1rem;
	width: 80%;
	box-sizing: border-box;
}
.xd-list1{
	box-sizing: border-box;
	display: -webkit-box;
	 padding:0 0.875rem;
	    padding-bottom: 0.625rem;
    border-bottom: 1px solid #ccc;
       
    margin-top: 0.575rem;
}
.xd-list1 ul{
	-webkit-box-flex: 1;
}
.xd-list1 img{
	display: block;
	    margin-right: 0.55rem;
    width: 3.5rem;
    height: 3.5rem;

}
.xd-list1-wc{
	width: auto;
}
.xd-list1-wc span{
	display: block;
	font-size: .4rem;
	margin-bottom: .5rem;
	text-align: right;
}
.xd-list1-wc span em{
	font-size: .3rem;
	margin-left: .4rem;
	color: #999;
	text-decoration: line-through;
}
.xd-list1-wc span:first-child em{
	color: #333;
}
.xd-list1-wc span:first-child{
	font-size: .6rem;
}
.xd-list1-wc span:first-child em{
	font-size: .6rem;
	text-decoration: none;
}
.xd-list1 li{
	font-size: .4rem;
	margin-bottom: .3rem;
	color: #999;
}
.xd-list1 li:first-child{
	height: 1.8rem;
	overflow: hidden;
}
.xd-list1 li a{
	color: #333;
	font-size: .6rem;
	line-height: .9rem;
}
.xd-tkc-1{
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -40%;
	width: 80%;
	z-index: 1001;
	background: #fff;
	height: 10rem;
}
.xd-tkc-1 h3{
	font-size: .8rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	border-bottom: 1px solid #f30000;
	color: #f30000;
}
.xd-tkc-1 ul li{
}
#xdxdxdxd{
	position: absolute;
	left: 0.3rem;
	top: 0;
	width: 4.85rem;
	height: 1.5rem;
	border: 1px solid #CCCCCC;
	opacity: 0;
}
.box-box-xd{
		border-top: 1px solid #e7e7e7;
		height: 1.825rem;
}
.box-box-xd a{
	  color: #59666e;
	  margin: 0 auto;
	  display: block;
    margin-top: 0.25rem;
    border-radius: 5px;
    width: 70%;
    height: 1.25rem;
    line-height: 1.375rem;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 0.55rem;
}
.x-d-span #xdxdxdxd{
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
}
