<div class="footer">
    <div class="f1">
        <a href="{:U('Inedex/index')}">
            <img src="__IMG__/f1_03.png" alt="" />
            <p>首页</p>
        </a>
    </div>
    <div class="f2">
    	<a href="{:U('Openprize/index')}" class="active" >
    		<img src="__IMG__/f2a_03.png" alt="" />
            <p>走势图</p>
    	</a>
    </div>
    <div class="f3">
        <a href="{:U('My/index')}">
            <img src="__IMG__/f3_03.png" alt="" />
            <p>个人中心</p>
        </a>
    </div>
    
    <div class="f3">
        <a href="{:U('Index/topsort')}">
            <img src="__IMG__/top.png" alt="" />
            <p>排行榜</p>
        </a>
    </div>
</div>