<extend name="Public/base"/>



<block name="body">

	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

	<div class="main-title">

		<h2>{:isset($info['id'])?'编辑':'新增'}快递</h2>

	</div>

	<div class="tab-wrap">

		<div class="tab-content">

			<form action="{:U()}" method="post" class="form-horizontal">

				<!-- 基础 -->

				<div id="tab1" class="tab-pane in tab1">



					<div class="form-item">

						<label class="item-label">

							快递名称<span class="check-tips">（名称不能为空）</span>

						</label>

						<div class="controls">

							<input type="text" name="title" class="text input-large" value="{$info.name|default=''}">

						</div>

					</div>

					<div class="form-item">
						<label class="item-label">编码<span class="check-tips"></span></label>
						<div class="controls">
							<label class="textarea input-large">
								<input type="text" name="type" class="text input-large" value="{$info.type|default='50'}">
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">编号<span class="check-tips"></span></label>
						<div class="controls">
							<label class="textarea input-large">
								<input type="text" name="number" class="text input-large" value="{$info.number|default='50'}">
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">letter<span class="check-tips"></span></label>
						<div class="controls">
							<label class="textarea input-large">
								<input type="text" name="letter" class="text input-large" value="{$info.letter|default='50'}">
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">电话<span class="check-tips"></span></label>
						<div class="controls">
							<label class="textarea input-large">
								<input type="text" name="tel" class="text input-large" value="{$info.tel|default='50'}">
							</label>
						</div>
					</div>
				

				</div>



				<div class="form-item">

					<input type="hidden" name="id" value="{$info.id|default=''}">

					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>

					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>

				</div>

				</form>

		</div>

	</div>

</block>



<block name="script">

	<script type="text/javascript">
		//导航高亮
		highlight_subnav('{:U('city')}');
	</script>

</block>

