<include file="Public/header"/>
<body style=" background:#f6f6f6;">
	<div class="warp">
	<section id="bg"class="warp">
		<div class="dl"></div>
	</section>
<!------------------------------dl------------------------------------------>
<div class="dl_r">
<div class="dl_t"><img src="__IMG__/q1.jpg"></div>
<div class="dl_y"><p><a href="{:U('User/jgregister')}">机构注册</a></p><p><a href="{:U('User/register')}">个人注册</a></p></div>
</div>
<!------------------------------bottom-------------------------------------->




</div>
</body>
</html>
