<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
       <script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/ew_js.js"></script>
    <link href="__CSS__/style.css" rel="stylesheet" />
	<title></title>
	
</head>
<body>
	<div class="warp">
	<section id="bg"class="warp">
		<div class="bg"><img src="__IMG__/a1.jpg"/></div>
	</section>
<!------------------------------dl------------------------------------------>
<div class="dl">
<form action="{:U('User/login')}" id="loginform" name="user" method="post"  onsubmit="return act_login();">
<input type="text" placeholder="用户名 / 手机号" class="dl_q" id="inputusername" name="username" />
<input type="password" placeholder="密码"  class="dl_q" id="inputpassword"    name="password" />
<div class="controls Validform_checktip text-warning"  id="errortext" style="color:#F00"></div>
<input  type="submit" value="登陆" class="dl_w" id="login_btn_cart" />
</form>
<div class="dl_e"><p><a href="{:U('User/register')}">还没有账号，现在去注册</a></p><p><a href="{:U('User/repassword')}">忘记密码？</a></p></div>
</div>


<!------------------------------bottom-------------------------------------->
<script type="text/javascript">
	//提交表单
	function act_login()
	{	  	  		  	
		var username=$("#inputusername").val();
		if(username ==''){
			$("#errortext").text('用户名不能为空！');;
			$("#inputusername").focus();
			return false;
		}		
		var password=$("#inputpassword").val();
		if(password ==''){
			$("#errortext").text('密码不能为空！');;
			$("#inputpassword").focus();
			return false;
		}				  			  
	  $("#loginform").submit();
	}
	</script>



</div>
</body>
</html>
