<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
       <script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/ew_js.js"></script>
    <link href="__CSS__/style.css" rel="stylesheet" />
	<title></title>
	
</head>
<body style=" background:#f6f6f6;">
	<div class="warp">
	<section id="bg"class="warp">
		<div class="dl"><a href="javascript:history.go(-1)"><</a>密码修改</div>
	</section>
<!------------------------------dl------------------------------------------>
    <div class="dl_q">
	<form class="form-horizontal" role="form" id="zzptj" action="__SELF__" method="post" >
    <p><input type="password" placeholder="当前密码" name="old"></p>
    <p><input type="password" placeholder="新密码" name="password"></p>
    <h2><input type="password" placeholder="确认密码" name="repassword"></h2>
	</form>
    </div>
    <div class="dl_e"><p><a onclick="qr();">确认</a></p></div>

<!---------------------------ewm--------------------------------------------->
<!--<div class="em_a"><img src="__IMG__/k6.png"></div>--!>
<!------------------------------bottom-------------------------------------->
<script>
	function qr(){
	$("#zzptj").submit();
	}
</script>



</div>
</body>
</html>
