<include file="Public/header"/>
<body style=" background:#f6f6f6;">
	<div class="warp">
	<section id="bg"class="warp">
		<div class="dl"><a href="{:U('Index/index')}"><</a>机构中心</div>
	</section>
<!------------------------------dl------------------------------------------>
<div class="dl_u">
<p><img src="__IMG__/q2.png"></p>
<h1>温馨提示</h1>
<h2>为便于操作，请前去</h2>
<h3><a href="{:U('Index/index')}">www.zhaohaoke.com</a></h3>
<h2>进行机构中心设置</h2>
<br>
<h2>详情请咨询平台服务人员：</h2>
<h2>400-1234-5678</h2>
</div>    
<!------------------------------bottom-------------------------------------->
</div>
</body>
</html>