<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/ew_js.js"></script>
    <link href="__CSS__/style.css" rel="stylesheet" />
	<title>{$meta_title}_{:C('WEB_SITE_TITLE')}</title>
	
</head>
<body>
	<div class="warp">
	<section id="bg"class="warp">
	</section>
<!------------------------------dl------------------------------------------>
<div class="dl">
<form class="form-horizontal" role="form" action="{:U("User/setpassword")}" method="post" name="formUser"  onsubmit="return submitsetpw();">
	<input type="hidden" id="uid" name="uid" value="{$uid}" >      
	<input type="password" placeholder="新密码"  class="dl_q" name="password" id="password"/><span id="dpassword"></span>
	<input type="password" placeholder="重复密码"  class="dl_q" name="repassword" id="repassword"/><span id="drepassword"></span>
	<input  type="submit" value="确认修改" class="dl_w" />
</form>
</div>
<script type="text/javascript">

function err_msg(str, id) {
  document.getElementById('d'+id).innerHTML=str;
}	  
function submitsetpw(){
	var password=$("#password").val();
	if(password ==''){
		err_msg('请设置新密码', 'password');
		$("#password").focus();
		return false;
	}
	var repassword=$("#repassword").val();
	if(repassword ==''){
		err_msg('请填写确认密码', 'repassword');
		$("#repassword").focus();
		return false;
	}	
	if(password!=repassword){
		err_msg('两次密码不一致，请重新填写', 'repassword');
		$("#repassword").focus();
		return false;		
	 }else{
		err_msg('', 'conform_password');
	}		
}
</script>

<!------------------------------bottom-------------------------------------->

</div>
</body>
</html>
