	<title>{$meta_title}_{:C('WEB_SITE_TITLE')}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link href="__CSS__/bcy_style.css" rel="stylesheet" type="text/css">	
	<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
	<link href="__CSS__/swiper.min.css" rel="stylesheet" type="text/css">	
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="__JS__/swiper.jquery.min.js"></script>