<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>{$meta_title}_{:C('WEB_SITE_TITLE')}</title>
	<link rel="stylesheet" href="__CSS__/font/iconfont.css" />
	<link rel="stylesheet" href="__CSS__/style.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/iconfont2/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/font/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/font2/iconfont.css"/>
	<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
	<script type="text/javascript" src="__JS__/common.js" ></script>
</head>