<extend name="Public/base"/>
<block name="body">

	<div class="main-title">
		<h2>优惠券列表</h2>
	</div>
	<div class="cf">
		  <button class="btn ajax-post confirm" url="{:U('yhjdel')}" target-form="ids">删 除</button>
	</div>
	<div class="data-table table-striped">

		 <table>
			<thead>
				<tr>
					<th class="row-selected">
					 <input class="checkbox check-all" type="checkbox">
					</th>
					<th>ID</th>
					<th>优惠券序列号</th>
                    <th>类型</th>
                    <th>订单号</th>
                    <th>使用会员</th>
                    <th>使用时间</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				<notempty name="list">
				<volist name="list" id="yhq">
					<tr>

					<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$yhq.id}"></td>

						<td>{$yhq.id}</td>
						<td>{$yhq.sn}</td>
						<td>{$yhq.yhj_name}</td>
                        <td>{$yhq.order_id}</td>
						<td>{$yhq.username}</td>
                        <td><if condition="$yhq['used_time']==0">未使用<else/>{$yhq.used_time|date='Y-m-d H:i:s',###}</if></td>
						<td>
                            <a class="confirm ajax-get" title="删除" href="{:U('yhjdel?id='.$yhq['id'])}">删除</a>
                        </td>
					</tr>
				</volist>
				<else/>
				<td colspan="8" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>

        <!-- 分页 -->

        <div class="page">
			{$_page}
        </div>

	</div>

</block>

<block name="script">
<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('PromotionYhj/index')}');
</script>
</block>