<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/ew_js.js"></script>
    <link href="__CSS__/style.css" rel="stylesheet" />
	<title></title>
	
</head>
<body>
	<div class="warp">
	<section id="bg"class="warp">
	</section>
<!-------------------------yu---------------------------------------------->
<div class="js">
<div class="js_q">
<p class="ew_text_cj">北京<img src="__IMG__/q7.png"></p>
</div>
<!------------------------------xlbf------------------------------------------>
<div class="top_i" style=" display:none;">
    <p><a href="#">北京</a></p>
    <p><a href="#">上海</a></p>
    <p><a href="#">广州</a></p>
    <p><a href="#">深圳</a></p>
    <p><a href="#">重庆</a></p>
    <p><a href="#">杭州</a></p>
    <p><a href="#">合肥</a></p>
    <p><a href="#">石家庄</a></p>
    <p><a href="#">郑州</a></p>
    <p><a href="#">天津</a></p>
    <p><a href="#">西安</a></p>
    <p><a href="#">四川</a></p>
    <p><a href="#">徐州</a></p>
    <p><a href="#">宁波</a></p>
    <p><a href="#">济南</a></p>
    <p><a href="#">山西</a></p>
    <p><a href="#">贵州</a></p>
    <p><a href="#">武汉</a></p>
    <p><a href="#">长沙</a></p>
    <p><a href="#">其他</a></p><div class="cls"></div>
  </div>
  <script type="text/javascript">
	
			jQuery('.ew_text_cj').click(function(){
				jQuery('.top_i').slideToggle();	
			})
</script>
<!------------------------------xlbf------------------------------------------>
<div class="js_w">
<p class="js_ww">综合排名<img src="__IMG__/q8.png"></p>
</div>

<div class="js_r" style=" display:none;">
<p><a href="#">人气排名</a></p><p><a href="#">评分排名</a></p>

</div>
  <script type="text/javascript">
						jQuery('.js_ww').click(function(){
				jQuery('.js_r').();	
			})slideToggle
</script> 
<!---------------------------------------------xl----------------------------->
<div class="js_t">
<form>
<div class="js_y">
<input type="text" class="js_yy">
<input type="submit" class="js_yyy" value="">

</div>
</form>
</div>

<div class="cls"></div>
</div>


<!----------------------------------y--------------------------------------->
 <volist name="listinfos" id="vo">
        <div class="xq_a">
<div class="xq_s"><img src="{$vo.cover_id|get_cover='path'}"></div>
<div class="xq_d"><h1><a href="{:U('Weixin/service/shows/catid/'.$catid.'/id/'.$vo['id'])}">{$vo.title}</a></h1><p><a href="{:U('Home/service/shows/catid/'.$catid.'/id/'.$vo['id'])}">{$vo.shortnote}</a></p></div>

<div class="cls"></div>
</div>
    </volist>

















<!------------------------------bottom-------------------------------------->




</div>
</body>
</html>
