<include file="Public/header"/>
<!-----------------------------------t------------------------------------>
<div class="fw_qw">
<div class="fw_q">
<div class="lx">
<div class="lx_q"><p><img src="__IMG__/lx1.png" />{:C('COMPANG_NAME')}</p></div>
<div class="lx_e">
<div class="lx_w"><img src="__IMG__/lx2.png" /></div>
<div class="lx_r"><p>邮箱</p><h1>{:C('COMPANG_EMAIL')}</h1></div>
<div class="cls"></div>
</div>

<div class="lx_t">
<div class="lx_y"><img src="__IMG__/lx3.png" /></div>
<div class="lx_u"><p>全国统一热线</p><h1>{:C('HOTLINE')}</h1></div>
<div class="lx_u"><p>电话/传真</p><h1>{:C('TEL_FAX')}</h1></div>
<div class="cls"></div>
</div>

<div class="lx_i">
<div class="lx_o"><img src="__IMG__/lx4.png" /></div>
<div class="lx_p"><p>地址</p><h1>{:C('ADRESS')}</h1></div>
<div class="cls"></div>
</div>

<div class="cls"></div>
</div>
{$category['content']}
</div>

</div>
<!----------------------y-------------------->
<include file="Public/footer"/>