<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
       <script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/ew_js.js"></script>
    <link href="__CSS__/style.css" rel="stylesheet" />
	<title></title>
	
</head>
<body>
	<div class="warp">
	<section id="bg"class="warp">
		<div class="bg_q"><img src="__IMG__/a3.jpg"/></div>
	</section>
<!------------------------------dl------------------------------------------>
<div class="jj">
<p>华泰益合肩负时代赋予的责任，助力企业腾飞的使命。凭借领袖企业家、专家智囊团的绝对优势，目前成为独具特色、理念领先的专注于企业资本与管理成长的咨询公司。</p>
<br>
<p>北京华泰益合文化发展有限公司是由中国十大CEO胡海平先生为董事长、中国弱势管理之父肖阳老师为总经理牵头多家投资机构、联合全国百家培训机构和300多名咨询专家合作成立。致力于为快速成长的中国企业提供企业管理咨询及投融资咨询服务。公司将在全国设立300家子分公司，重点服务运作主体在中国具有高成长潜力的公司，关注有潜力的民营中小企业。</p>
<br>
<p>自成立以来，凭借对中小企业客户价值提升需求的深刻理解与准确认识，依托实践经验丰富的专业团队、广泛的网络，实现企业的快速成长和资本价值的迅速增长。</p>
<br>
<p>华泰益合资本</p>
<p>华泰首席资本专家，杉杉创投总经理宫毅联合常春藤资本、睿立资本等集合百亿资金为企业搭建优质的资本俱乐部服务平台，致力于为企业提供上市操作，以及资本运作的系统解决方案，务实为您提供如下服务：</p>
	<p>企业有上市梦想的——圆您上市梦</p>
	<p>企业项目需融资的——帮您解决融资问题</p>
	<p>企业需理财增值的——帮您实现金融增值</p>
<br>
<p>华泰益合咨询</p>
<p>华泰益合凭借对本土人文社会、市场经济环境的深刻了解，专注于为企业提供前沿实效管理思想及系统化落地解决方案。华泰名师团总教练肖阳老师率领百名咨询专家独创性地提出"企业战略增长逻辑图"、"组织结构权利新木桶理论"、"顾客满意度120期望法则"等中国式管理思维，对中国本土企业如何实现持续增长，提供了具体思路和落地方案，曾创造3个月内使某上市公司销售增长10个亿的经典案例。</p>
</div>


<!------------------------------bottom-------------------------------------->
<div class="bottom"><a href="{:U('/Weixin/service/form_buy')}">我要购买</a></div>



</div>
</body>
</html>
